<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.TAB.Orders}} / </span>
        <span>{{label.SUB_TAB.All}}</span>
    </h4>
</div>
<app-container>
    <app-card
        [headerData]="{'backPath': '/dashboard', 'heading' : label.Back , addButtonToolTip: label.SUB_TAB.All ,'addButtonRoute' : '/orders/all', 'headerVisible': isAddEditPermission}">
        <div class="row mt-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FromDate">{{ label.FromDate }}:</label>&nbsp;
                    <input name="FromDate" class="form-control" [(ngModel)]="orderFilter.FromDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.FromDate }}" >
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ToDate">{{ label.ToDate }}:</label>&nbsp;
                    <input name="ToDate" class="form-control" [(ngModel)]="orderFilter.ToDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.ToDate }}">
                    <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NetValue">{{ label.Keyword }}:</label>&nbsp;
                    <input type="text" name="Keyword" id="Keyword" [(ngModel)]="orderFilter.Keyword" 
                        class="form-control" placeholder="{{ label.Keyword }}" #Keyword="ngModel">
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <button (click)="getOrdersHeaderData()" class="btn btn-success mtop-5">Search</button>&nbsp;
                <button (click)="getOrderExportData()" class="btn btn-info mtop-5">Export</button>
            </div>
        </div>
        <div style="margin-top: 20px;" *ngIf="allOrdersArray?.length > 0" class="table-responsive">
            <table id="all_orders_table" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>{{label.TABLE.Document_Number}}</th>
                        <th>{{label.TABLE.Order_Type}}</th>
                        <th>{{label.TABLE.Sales_org}}</th>
                        <th>{{label.TABLE.Distribution_channel}}</th>
                        <th>{{label.TABLE.Division}}</th>
                        <th>{{label.TABLE.Created_by}}</th>
                        <th>{{label.TABLE.Created_on}}</th>
                        <th>{{label.TABLE.Document_Date}}</th>
                        <th>{{label.TABLE.Net_value}}</th>
                        <th>{{label.TABLE.Document_Currency}}</th>
                        <th>{{label.TABLE.Valid_from}}</th>
                        <th>{{label.TABLE.Valid_to}}</th>
                        <th>{{label.TABLE.Req_delivery_date}}</th>
                        <th>{{label.TABLE.Shipping_Condition}}</th>
                        <th>{{label.TABLE.PO_number}}</th>
                        <th>{{label.TABLE.PO_date}}</th>
                        <th>{{label.TABLE.Sold_to_party}}</th>
                        <th>{{label.TABLE.Partner_Function}}</th>
                        <th>{{label.TABLE.Ship_to_Party}}</th>
                        <th>{{label.Status}}</th>
                        <!-- <th>{{label.Action}}</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let all of allOrdersArray; let i = index" [class.selected-row]="all.isChecked">
                        <td>{{all.DocumentNumber}}</td>
                        <td>{{all.OrderType}}</td>
                        <td>{{all.SalesOrg}}</td>
                        <td>{{all.DistributionChannel}}</td>
                        <td>{{all.Division}}</td>
                        <td>{{all.CreatedBy}}</td>
                        <td>{{all.CreatedOn | date}}</td>
                        <td>{{all.DocumentDate | date}}</td>
                        <td>{{all.NetValue}}</td>
                        <td>{{all.DocCurrency}}</td>
                        <td>{{all.ValidFrom | date}}</td>
                        <td>{{all.ValidTo | date}}</td>
                        <td>{{all.ReqDeliveryDate | date}}</td>
                        <td>{{all.ShippingConditions}}</td>
                        <td>{{all.PONumber}}</td>
                        <td>{{all.PODate | date}}</td>
                        <td>{{all.SoldToParty}}</td>
                        <td>{{all.PartnerFunction}}</td>
                        <td>{{all.ShipToParty}}</td>
                        <th>{{all.StatusToDisplay}}</th>
                        <!-- <td>
                            <button style="font-size: 12px;" class="btn btn-primary" placement="top"
                                ngbTooltip="{{label.More_Details}}" (click)="viewOrderDetails(all);">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>&nbsp;
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="no-record-found" *ngIf="allOrdersArray?.length == 0">
            {{label.No_Record_Found}}
        </div>
    </app-card>
</app-container>