.card-image{
	width: 100%;
	height: 160px;
}

.card-box{
	border: 1px solid #ddd;
    padding: 10px;
}

.mt-20{
	margin-top:20px;
}

.additional-button{
	margin-top: -10px !important;
}

.checkbox-input{
	width: 25px;
	height: 25px;
}

.fa-shopping-bag{
	color: white;
    background: #28a745;
    padding: 13px;
    position: absolute;
    right: 5em;
    font-size: 14px;
    margin-top: -8px;
    border-radius: 5px;
    cursor: pointer;
}
