<div class="container-lg">
    <div class="col-md-12">
        <div class="row">
            
            <div class="col-lg-5 col-xl-5" [ngClass]="(publicMessage.length > 0) ? '': 'mx-auto'">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <img src="assets/images/amdhan-logo.png" width="200px" class="center-logo">
                        <form class="form-signin" #loginForm="ngForm" id="loginForm" name="loginForm" (ngSubmit)="login()">
                            <div class="form-label-group">
                                <input type="email" id="username" name="username" [(ngModel)]="credentials.username"
                                    #username="ngModel" class="form-control field-height" placeholder="Username" required>
                                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="field-error">
                                    <div *ngIf="username.errors.required">{{label.Username_required}}</div>
                                </div>

                            </div>
                            <div class="form-label-group">
                                <input type="password" id="password" name="password" [(ngModel)]="credentials.password"
                                    #password="ngModel" class="form-control field-height" placeholder="Password" required>
                                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="field-error">
                                    <div *ngIf="password.errors.required">{{label.Password_required}}</div>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" *ngIf="!isLodingButtonEnable" type="submit">Login</button>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" *ngIf="isLodingButtonEnable">
                                <i class="fa fa-spinner fa-spin"></i>&nbsp; {{label.Loading}}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xl-7" *ngIf="publicMessage.length > 0">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">
                        <h4>Messages</h4>
                        <div class="user-message" role="alert" aria-live="assertive" aria-atomic="true" *ngFor="let item of publicMessage">
                          <div class="toast-body">
                            {{item}}.
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>