<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span>{{label.SUB_TAB.Product}}</span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': 'dashboard', 'heading' : label.Back, 'headerVisible': 'true'}">
   		<div class="col-md-12">
		    <div class="row">
		      <div class="col-md-2">

		      </div>
		      <div class="col-md-10 mt-20">
		        <div class="row">
		          <div class="col-md-3">
		            <ng-multiselect-dropdown name="search" [placeholder]="label.SHOPPING_TAB.Search_Product"
		              [data]="searchItemList" [(ngModel)]="selectedSearchItem" [settings]="searchItemSetting" #search="ngModel"
		              (onSelect)="selectProduct($event)" (onDeSelect)="deSelectProduct($event)" class="singleselect" required>
		            </ng-multiselect-dropdown>
		          </div>
		          <div class="col-md-6">
		            <div class="wrapper">
		              <input type="text" class="form-control" name="universalsearch" [(ngModel)]="universalSearch">
		              <button (click)="searchProductList()">Go</button>
		            </div>
		          </div>
		          <div class="col-md-3">
		            <i title="Go to cart" routerLink="../../card-details"
		              class="fa fa-shopping-cart float-right cursor-pointer"></i>
		          </div>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="col-md-12 mt-40">
	    <div class="row">
	      <div class="col-md-2">
	        <div class="col-md-12" *ngFor="let item of sidebarItemList | keyvalue">
	          <p class="leftbar-heading">{{item.key}}</p>
	          <ul class="unstyled">
	            <li *ngFor="let catItem of item.value">
	              <input *ngIf="catItem.values" type="checkbox" name="cat1" class="leftbar-itemcheckbox"
	                value="{{item.key}} - {{catItem.values}}" (change)="changeFilterEvent($event)">
	              &nbsp;&nbsp;
	              <span class="leftbar-itemvalue">{{catItem.values}}</span>
	            </li>
	          </ul>
	        </div>

	        <div class="col-md-12">
	          <button class="btn btn-info btn-sm" (click)="searchProductList('lett-sidebar-filter')">Apply Filter</button>
	        </div>
	      </div>
	      <div class="col-md-10">
	        <div class="col-md-12">
	          <h5>Products</h5>
	        </div>
	        <div class="col-md-12">
	          <div class="row">
	            <div class="col-md-4 mt-10" *ngFor="let item of productList">
	              <div class="product-box">
	                <h6 class="text-center p-2 product-name">{{item.Material}}</h6>
	                <div class="row p-2">
	                  <div class="col-md-5">
	                    <img class="product-image" src="{{imageUrl}}{{item.ImageName}}"
	                      onerror="this.src='./assets/images/blank.png';">
	                    <!-- //onerror="this.src='./assets/images/blank.png';" -->
	                  </div>
	                  <div class="col-md-7 pr-2">
	                    <p class="text-center">
	                      Price {{item.NetPrice}} {{item.Currency?item.Currency:'INR'}}
	                    </p>
	                    <div class="volume_price_section">
	                      <table class="table volume_price_table">
	                        <tr class="volume_price_header">
	                          <th>Volume</th>
	                          <th>Price</th>
	                        </tr>
	                        <tr *ngFor="let priceVolItem of item.PriceScaleInfo">
	                          <td>{{priceVolItem.PriceScaleVolume}}</td>
	                          <td>{{priceVolItem.PriceScaleNetPrice}}</td>
	                        </tr>
	                      </table>
	                    </div>
	                  </div>
	                </div>
	                <div class="row ml-0 mr-0">
	                  <!-- <div class="col-md-12"> -->
	                  <div class="col-md-12 product-supplier pl-2 pr-2">
	                    <div>
	                      <span>Supplier: </span>
	                      <span class="pull-right">{{item.SupplierName}}</span>
	                    </div>
	                    <div>
	                      <span>Manufacture :</span>
	                      <span class="pull-right">{{item.Manufacturer}}</span>
	                    </div>
	                  </div>
	                  <!-- </div> -->
	                </div>
	                <div class="row p-2">
	                  <div class="col-md-12">
	                    <span class="font-size-12">Country: {{item.CountryName}},</span>
	                     <span class="pl-3 font-size-12">Region: {{item.RegionName}}</span>
	                  </div>
	                </div>
	                <div class="row pl-2 pr-2">
	                  <div class="col-md-12">
	                    <span class="font-size-12">Category: {{item.Category}},</span>
	                    <span class=" pl-3 font-size-12"> Sub-Category:{{item.SubCategory}}</span>
	                  </div>
	                </div>
	                <div class="p-2">

	                  <span class="quantity">
	                    Quantity: &nbsp;
	                    <i class="fa fa-minus-circle cursor-pointer" aria-hidden="true"
	                      (click)="item.count>0?(item.count=item.count-1):item.count=0"></i> &nbsp;
	                    <!-- <span id="product-quantity-{{item.CatalogProductItemID}}">1</span>&nbsp; -->
	                    <input type="text" [(ngModel)]="item.count" /> &nbsp;
	                    <i (click)="item.count=item.count+1" class="fa fa-plus-circle cursor-pointer"></i>
	                    <button class="btn btn-info btn-sm pull-right"
	                      (click)="addToCardItem(item.CatalogProductItemID, 'product-quantity', item.CatalogueID, item.Material, item.SupplierNo, item.SupplierName, item.NetPrice,item.count,item)">Add
	                      to Cart</button>
	                  </span>

	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-12 text-center mt-3" *ngIf="!productList.length && dataLoaded">
	          {{label?.CATALOGUE?.NoProductFound}}
	        </div>
	        <hr>
	        <div class="col-md-12 mt-40">
	          <h5>Related Products</h5>
	        </div>
	        <div class="col-md-12">
	          <div class="row">
	            <div class="col-md-4 mt-10" *ngFor="let item of relatedProductList">
	              <div class="product-box">
	                <h6 class="text-center p-2 product-name">{{item.Material}}</h6>
	                <div class="row p-2">
	                  <div class="col-md-5">
	                    <img class="product-image" src="{{imageUrl}}{{item.ImageName}}"
	                      onerror="this.src='./assets/images/blank.png';">
	                    <!-- //onerror="this.src='./assets/images/blank.png';" -->
	                  </div>
	                  <div class="col-md-7 pr-2">
	                    <p class="text-center">
	                      Price {{item.NetPrice}} {{item.Currency?item.Currency:'INR'}}
	                    </p>
	                    <div class="volume_price_section">
	                      <table class="table volume_price_table">
	                        <tr class="volume_price_header">
	                          <th>Volume</th>
	                          <th>Price</th>
	                        </tr>
	                        <tr *ngFor="let priceVolItem of item.PriceScaleInfo">
	                          <td>{{priceVolItem.PriceScaleVolume}}</td>
	                          <td>{{priceVolItem.PriceScaleNetPrice}}</td>
	                        </tr>
	                      </table>
	                    </div>
	                  </div>
	                </div>
	                <div class="row ml-0 mr-0">
	                  <!-- <div class="col-md-12"> -->
	                  <div class="col-md-12 product-supplier pl-2 pr-2">
	                    <div>
	                      <span>Supplier: </span>
	                      <span class="pull-right">{{item.SupplierName}}</span>
	                    </div>
	                    <div>
	                      <span>Manufacture :</span>
	                      <span class="pull-right">{{item.Manufacturer}}</span>
	                    </div>
	                  </div>
	                  <!-- </div> -->
	                </div>
	                <div class="row p-2">
	                  <div class="col-md-12">
	                    <span class="font-size-12">Country: {{item.CountryName}},</span>
	                     <span class="pl-3 font-size-12">Region: {{item.RegionName}}</span>
	                  </div>
	                </div>
	                <div class="row pl-2 pr-2">
	                  <div class="col-md-12">
	                    <span class="font-size-12">Category: {{item.Category}},</span>
	                    <span class=" pl-3 font-size-12"> Sub-Category:{{item.SubCategory}}</span>
	                  </div>
	                </div>
	                <div class="p-2">

	                  <span class="quantity">
	                    Quantity: &nbsp;
	                    <i class="fa fa-minus-circle cursor-pointer" aria-hidden="true"
	                      (click)="item.count>0?(item.count=item.count-1):item.count=0"></i> &nbsp;
	                    <!-- <span id="product-quantity-{{item.CatalogProductItemID}}">1</span>&nbsp; -->
	                    <input type="text" [(ngModel)]="item.count" /> &nbsp;
	                    <i (click)="item.count=item.count+1" class="fa fa-plus-circle cursor-pointer"></i>
	                    <button class="btn btn-info btn-sm pull-right"
	                      (click)="addToCardItem(item.CatalogProductItemID, 'product-quantity', item.CatalogueID, item.Material, item.SupplierNo, item.SupplierName, item.NetPrice,item.count,item)">Add
	                      to Cart</button>
	                  </span>

	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
    </app-card>
</app-container>