.mt-10{
	margin-top: 10px;
}

.mt-20{
	margin-top: 20px;
}

.mt-40{
	margin-top: 40px;
}
.unstyled{
	list-style-type:none;
	padding : 0px;
}

.leftbar-heading{
	padding: 6px;
    text-align: center;
    border: 1px solid #ddd;
}

.leftbar-itemvalue{
	top: -5px;
    position: relative;
}

.leftbar-itemcheckbox{
	width:20px;
	height: 20px;
}

.product-image{
	width:100%;
	height:175px;
}

.product-box{
	border: 1px solid #ddd;
  box-shadow: 3px 3px 5px lightgrey;
}
.product-name{
  background: lightgray;
}
.volume_price_header{
	background: #ddd;
}
.volume_price_table{
	border: 1px solid #ddd;
}
.volume_price_table td, .volume_price_table th{
	padding: 0.3rem;
}
.product-supplier, .product-manufacture{
	margin-top: 10px;
	padding: 0px;

	p{
		border: 1px solid #ddd;
    	padding: 5px;
	}
}
.product-supplier{
  border: 1px solid #ddd;
  padding: 5px;
  border-right: 0;
  border-left: 0;
}

.volume_price_section{
	max-height: 135px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.font-size-12{
	font-size: 12px;
}

.wrapper {
    border:1px solid #000;
    display:inline-block;
    width:100%
}


.wrapper button {
    position: absolute;
    right: 16px;
    top: 1px;
    z-index: 22;
    background: #ddd;
    height: 38px;
    width: 40px;
    border:0;
}

.wrapper input{
    background-color:transparent;
    border:0;
}

.cursor-pointer{
    cursor: pointer;
}
.quantity input{
  width: 3em;
  text-align: center;
}
.fa-shopping-cart{
  font-size: 1.5em;
  color:#0061f2;
  padding: 5px;
  border: 1px solid #0061f2;
  border-radius: 50%;
}
.table{
  margin-bottom:0 !important;
}