<!-- Modal -->
<div *ngIf="modalData">
    
    <div [id]="modalData.modalId" class="modal fade" role="dialog" style="display: none;background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog" [ngClass]="modalData.size" style="margin-top: 8%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{modalData.header}}</h5>
                    <button [ngClass]="(modalData.closeTimer == 'true')? 'd-none': ''" (click)="closeModal()" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ng-content></ng-content>
                </div>
                <div class="modal-footer">
                    <button *ngIf="modalData.save" (click)="onClickSave()" type="button" [ngClass]="modalData.saveClass ? modalData.saveClass: 'btn btn-primary'"
                        data-dismiss="modal">{{modalData.save}}</button>
                    <button (click)="closeModal()" type="button" class="btn btn-default"
                        data-dismiss="modal">{{modalData.close}}</button>
                </div>
            </div>
        </div>
    </div>
</div>