.asn-details {
    background: #d3d3d373;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;

    .asn-label {
        font-size: 13px;
    }
}

#tabs h6.section-title {
    color: #eee;
}

#labelNoPermission {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0CE !important;
    background-color: transparent;
    border-color: transparent transparent #0CE !important;
    border-bottom: 4px solid !important;
    font-size: 19px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: grey;
    font-size: 19px;
}

.combine-text-button input[type=text] {
    float: left;
    width: 70%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.combine-text-button button {
    float: left;
    width: 30%;
    color: white;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.action-td {
    display: block;
}

.combine-text-button input[type=text] {
    float: left;
    width: 70%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.combine-text-button button {
    float: left;
    width: 30%;
    color: white;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-align {
    display: contents;
}