<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span [routerLink]="['/quize-section/quize']">{{label.QUIZE_TAB.Quize_Result}}</span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': 'dashboard', 'heading' : label.Back, 'headerVisible': 'true',addButtonToolTip: label.QUIZE_TAB.Start_Quize, 'addButtonRoute' : '/quize-section/quize'}">
        <div class="col-md-3 mt-15" *ngIf="userData.RoleType == 1">
            <ng-multiselect-dropdown name="customer" [placeholder]="label.QUIZE_TAB.SelectCustomer" [data]="customerList" [(ngModel)]="customerSelectedItem" [settings]="customerSettings" (onSelect)="selectCustomer($event)" (onDeSelect)="deSelectCustomer()" #customer="ngModel"></ng-multiselect-dropdown>
        </div>
        <div style="margin-top: 20px;">
            <table id="all_orders_table" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>{{label.QUIZE_TAB.Question}}</th>
                        <th>{{label.QUIZE_TAB.Answer}}</th>
                        <th>{{label.QUIZE_TAB.Create_Date}}</th>
                        <th>{{label.QUIZE_TAB.Update_Date}}</th>
                        <th>{{label.QUIZE_TAB.UserName}}</th>
                        <th>{{label.QUIZE_TAB.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of quizeResultList">
                        <td>{{item.Question}}</td>
                        <td>{{item.Answer}}</td>
                        <td>{{item.InsertedDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.UpdatedDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.Username}}</td>
                        <td>
                             <button style="font-size: 12px;" class="btn btn-primary" placement="top"
                                ngbTooltip="{{label.More_Details}}" (click)="editQuestionANswers(item);">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="quizeResultList.length == 0">
                        <td colspan="6" class="text-center"> 
                            {{label.No_Record_Found}}
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </app-card>
</app-container>