<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- <a class="navbar-brand" href="#">AmDhan</a> -->
    <a class="navbar-brand cursor-pointer" (click)="gotToDashboard()"><img src="{{logoImagePath}}" width="250"
            height="50" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf="userData">
        <ul class="navbar-nav mr-auto"></ul>
        <div class="pull-right" style="cursor: pointer;color: white;">
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{userData.FirstName}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li (click)="openModal('profile-modal')"><a><i class="fa fa-user" aria-hidden="true"></i>
                                {{label.Profile}}</a></li>
                        <hr />
                        <li (click)="openModal('change-password-modal')"><a><i class="fa fa-unlock-alt"
                                    aria-hidden="true"></i> {{label.Change_Pass}}</a></li>
                        <hr />
                        <li><a (click)="logout();"><i class="fa fa-sign-out"></i> {{label.Logout}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-modal-form [modalData]="{'modalId' : 'profile-modal', 'header' : 'Profile', 'close': 'Close'}">
    <div class="profile-background"></div>
    <div class="d-flex justify-content-center profile-image">
        <img src="/assets/images/default-user.png" width="150px" height="150px">
    </div>
    <div style="margin-top: 70px;" class="text-center">
        <h1>{{profileData.FirstName}} {{profileData.LastName}}</h1>
    </div>
    <div class="row text-center" style="margin-top: 20px;">
        <div class="col-md-2" style="border-right: 1px solid lightgrey;">
            <span class="profile-icons"><i class="fa fa-envelope-o"></i></span>
        </div>
        <div class="col-md-10 text-left">
            <span class="address-text" title="{{profileData.Email}}">
                <b>{{profileData.Email}}</b>
            </span>
        </div>
        <!-- <div class="col-md-6">
            <span class="profile-icons"><i class="fa fa-envelope-o"></i></span><br>
            <span><b>{{profileData.Email}}</b></span>
        </div>
        <div class="col-md-6">
            <span class="profile-icons"><i class="fa fa-phone"></i></span><br>
            <span><b>{{profileData.PhoneNo}}</b></span>
        </div> -->
    </div>
    <div class="row text-center" style="margin-top: 20px;">
        <div class="col-md-2" style="border-right: 1px solid lightgrey;">
            <span class="profile-icons"><i class="fa fa-phone"></i></span>
        </div>
        <div class="col-md-10 text-left">
            <span class="address-text" title="{{profileData.PhoneNo}}">
                <b>{{profileData.PhoneNo}}</b>
            </span>
        </div>
    </div>
    <div class="row text-center" style="margin-top: 20px;">
        <div class="col-md-2" style="border-right: 1px solid lightgrey;">
            <span class="profile-icons"><i class="fa fa-map-marker"></i></span>
        </div>
        <div class="col-md-10 text-left">
            <span *ngIf="profileData.Address1" class="address-text" title="{{profileData.Address1}}">
                <b>Address 1 : </b> {{profileData.Address1}}
            </span>
            <span *ngIf="profileData.Address2" class="address-text" title="{{profileData.Address2}}">
                <b>Address 2 : </b> {{profileData.Address2}}
            </span>
            <span *ngIf="profileData.Address3" class="address-text" title="{{profileData.Address3}}">
                <b>Address 3 : </b> {{profileData.Address3}}
            </span>
            <span class="address-text" title="{{profileData.Country}}/{{profileData.State}}/{{profileData.City}}">
                <b>Country/State/City : </b>
                {{profileData.Country}}/{{profileData.State}}/{{profileData.City}}
            </span>
        </div>
    </div>
</app-modal-form>

<app-modal-form [modalData]="{'modalId' : 'change-password-modal', 'header' : 'Change Password', 'close': 'Close'}">
    <form>
        <div class="col-md-12">
            <div class="form-group">
                <label for="NewPassword">{{label.New_Pass}} <span class="mandatory"> *</span></label>
                <input type="password" class="form-control" id="NewPassword" name="NewPassword"
                    [(ngModel)]="pwdData.NewPassword" placeholder="{{label.New_Pass}}" #NewPassword="ngModel" required>
                <div *ngIf="NewPassword.invalid && (NewPassword.dirty || NewPassword.touched)" class="field-error">
                    <div *ngIf="NewPassword.errors.required">{{label.New_Pass_required}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="ConfirmPassword">{{label.Confirm_Pass}} <span class="mandatory"> *</span></label>
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword"
                    [(ngModel)]="pwdData.ConfirmPassword" placeholder="{{label.Confirm_Pass}}"
                    #ConfirmPassword="ngModel" required>
                <div *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)"
                    class="field-error">
                    <div *ngIf="ConfirmPassword.errors.required">{{label.Confirm_Pass_required}}</div>
                </div>
                <div *ngIf="ConfirmPassword.touched && !ConfirmPassword.invalid" class="field-error">
                    <div *ngIf="pwdData.NewPassword != pwdData.ConfirmPassword">{{label.Confirm_Pass_not_matches}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button
                [disabled]="!NewPassword.valid || !ConfirmPassword.valid || (pwdData.NewPassword != pwdData.ConfirmPassword)"
                (click)="onChangePassClick()" class="btn btn-primary" style="float: right;">{{label.Change}}</button>
        </div>
    </form>
</app-modal-form>

<br>