.dropdown-menu {
    left: -120px !important;
    padding: 0.5rem 15px !important;
    width: 200px;
}

.list-padding{
    padding: 5px;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-background{
background-color: #0061f2;
background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
height: 120px;
}

.profile-icons{
    color: #52a3b999;
    font-size: 30px;
}

.profile-image{
    border: 1px solid;
    background: white;
    position: absolute;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 45px;
    left: 34%;
}

.address-text{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    .profile-image {
        left: 28%;
    }
}