<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span [routerLink]="['/master-section/material']">{{label.MATERIAL_TAB.Material_Details}}</span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': 'master-section/material', 'heading' : label.Back, 'headerVisible': 'true'}">
        <div style="margin-top: 20px;">
            <div class="asn-details">
                <form #addInquiryForm="ngForm" id="addInquiryForm" name="addInquiryForm" style="margin-top:
                    15px;">
                    <div class="row">
                        <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Delivery_Type">{{ label.MATERIAL_TAB.Indicator }}:</label>&nbsp;
                                    <input name="Indicator" class="form-control" [(ngModel)]="materialDetails.Indicator"  placeholder="{{ label.MATERIAL_TAB.Indicator }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="BaseUOM_Code">{{ label.MATERIAL_TAB.BaseUOM_Code }}:</label>&nbsp;
                                    <input name="BaseUOM_Code" class="form-control" [(ngModel)]="materialDetails.BaseUOM_Code"  placeholder="{{ label.MATERIAL_TAB.BaseUOM_Code }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Payer">{{ label.MATERIAL_TAB.Client }}:</label>&nbsp;
                                    <input name="Payer" class="form-control" [(ngModel)]="materialDetails.Client"  placeholder="{{ label.MATERIAL_TAB.Client }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="CreatedByName">{{ label.MATERIAL_TAB.CreatedByName }}:</label>&nbsp;
                                    <input name="CreatedByName" class="form-control" [(ngModel)]="materialDetails.CreatedByName"  placeholder="{{ label.MATERIAL_TAB.CreatedByName }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="CreatedDate">{{ label.MATERIAL_TAB.CreatedDate }}:</label>&nbsp;
                                    <input name="CreatedDate" class="form-control" [(ngModel)]="materialDetails.CreatedDate"  placeholder="{{ label.MATERIAL_TAB.CreatedDate }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ItemCate_Code">{{ label.MATERIAL_TAB.ItemCate_Code }}:</label>&nbsp;
                                    <input name="ItemCate_Code" class="form-control" [(ngModel)]="materialDetails.ItemCate_Code"  placeholder="{{ label.MATERIAL_TAB.ItemCate_Code }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="LastChangeDate">{{ label.MATERIAL_TAB.LastChangeDate }}:</label>&nbsp;
                                    <input name="LastChangeDate" class="form-control" [(ngModel)]="materialDetails.LastChangeDate"  placeholder="{{ label.MATERIAL_TAB.LastChangeDate }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="MRPType">{{ label.MATERIAL_TAB.MRPType }}:</label>&nbsp;
                                    <input name="MRPType" class="form-control" [(ngModel)]="materialDetails.MRPType"  placeholder="{{ label.MATERIAL_TAB.MRPType }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="MaterialDescription">{{ label.MATERIAL_TAB.MaterialDescription }}:</label>&nbsp;
                                    <input name="MaterialDescription" class="form-control" [(ngModel)]="materialDetails.MaterialDescription"  placeholder="{{ label.MATERIAL_TAB.MaterialDescription }}" [readonly]="true">
                                </div>
                            </div>
                            


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="MaterialNumber">{{ label.MATERIAL_TAB.MaterialNumber }}:</label>&nbsp;
                                    <input name="MaterialNumber" class="form-control" [(ngModel)]="materialDetails.MaterialNumber"  placeholder="{{ label.MATERIAL_TAB.MaterialNumber }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="MaterialTypeCode">{{ label.MATERIAL_TAB.MaterialTypeCode }}:</label>&nbsp;
                                    <input name="MaterialTypeCode" class="form-control" [(ngModel)]="materialDetails.MaterialTypeCode"  placeholder="{{ label.MATERIAL_TAB.MaterialTypeCode }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="NetPrice">{{ label.MATERIAL_TAB.NetPrice }}:</label>&nbsp;
                                    <input name="NetPrice" class="form-control" [(ngModel)]="materialDetails.NetPrice"  placeholder="{{ label.MATERIAL_TAB.NetPrice }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="PriceControl">{{ label.MATERIAL_TAB.PriceControl }}:</label>&nbsp;
                                    <input name="PriceControl" class="form-control" [(ngModel)]="materialDetails.PriceControl"  placeholder="{{ label.MATERIAL_TAB.PriceControl }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="PriceUnit">{{ label.MATERIAL_TAB.PriceUnit }}:</label>&nbsp;
                                    <input name="PriceUnit" class="form-control" [(ngModel)]="materialDetails.PriceUnit"  placeholder="{{ label.MATERIAL_TAB.PriceUnit }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="PurchasingGrp_Code">{{ label.MATERIAL_TAB.PurchasingGrp_Code }}:</label>&nbsp;
                                    <input name="PurchasingGrp_Code" class="form-control" [(ngModel)]="materialDetails.PurchasingGrp_Code"  placeholder="{{ label.MATERIAL_TAB.PurchasingGrp_Code }}" [readonly]="true">
                                </div>
                            </div>
                           
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ValuationClass">{{ label.MATERIAL_TAB.ValuationClass }}:</label>&nbsp;
                                    <input name="ValuationClass" class="form-control" [(ngModel)]="materialDetails.ValuationClass"  placeholder="{{ label.MATERIAL_TAB.ValuationClass }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ValuationType">{{ label.MATERIAL_TAB.ValuationType }}:</label>&nbsp;
                                    <input name="ValuationType" class="form-control" [(ngModel)]="materialDetails.ValuationType"  placeholder="{{ label.MATERIAL_TAB.ValuationType }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{ label.QUIZE_TAB.Questionair }}</label>
                                    <ng-multiselect-dropdown name="Questionair" [placeholder]="label.QUIZE_TAB.Select_Questionair" [data]="questionairList" [(ngModel)]="questionairSelectedItem" [settings]="questionairSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                                <div *ngIf="questionFormSubmited && questionairSelectedItem.length == 0" class="field-error">{{label.QUIZE_TAB.Questionair}}
                                        {{label.Is_Required}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label></label>
                                   <br>
                                    <button class="btn btn-info mt-8" (click)="addQuestionairItem($event)">
                                        <span *ngIf="!materialDetails.QuestionnaireHeader">Save</span>
                                        <span *ngIf="materialDetails.QuestionnaireHeader">Update</span>
                                    </button>
                                </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </app-card>
</app-container>