<div class="menu-background" *ngIf="inquiryDetails">
    <h4>
        <span [routerLink]="['/inquiry-quotation-section/inquiry']">{{label.TAB.Inquiry}} / </span>
        <span [routerLink]="[inquiryDetails.from]">{{inquiryDetails.tab}} </span>
        <span>{{label.TAB.Inquiry_Details}} </span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': inquiryDetails.from, 'heading' : inquiryDetailsLabel, 'headerVisible': 'true'}">
        <div style="margin-top: 20px;">
            <angular2csv *ngIf="editInquiryId" [data]="inquiryExportData" filename="order-details" [options]="options">Export</angular2csv>
            <div class="col-md-12">
                <form #addInquiryForm="ngForm" id="addInquiryForm" name="addInquiryForm" style="margin-top:
                    15px;" (ngSubmit)="saveEnquiryDetails(addInquiryForm)" autocomplete="off" novalidate>
                    <fieldset >
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SoldToParty">{{ label.Sold_To_Party }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                    <ng-multiselect-dropdown name="SoldToParty" [placeholder]="label.Sold_To_Party" [data]="soldToPartyList" [(ngModel)]="selectedSoldToPartyItems" [settings]="dropdownSoldToPartySettings" (onSelect)="selectSoldToParty($event)" (onDeSelect)="deSelectSoldToParty()"  #SoldToParty="ngModel" required [disabled]="viewModeField">
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="addInquiryForm.submitted && SoldToParty.invalid" class="field-error">
                                        {{label.Sold_To_Party}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ShipToParty">{{ label.Ship_to_Party }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                   
                                    <ng-multiselect-dropdown name="ShipToParty" [placeholder]="label.Ship_to_Party" [data]="shipToPartyList" [(ngModel)]="selectedShipToPartyItems" [settings]="dropdownShipToPartySettings" (onSelect)="selectShipToParty($event)"  #ShipToParty="ngModel" required [disabled]="viewModeField">
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="addInquiryForm.submitted && ShipToParty.invalid" class="field-error">
                                        {{label.Ship_to_Party}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SalesOrganization">{{ label.Sales_Organization }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                    <ng-multiselect-dropdown name="SalesOrganization" [placeholder]="label.Sales_Organization" [data]="salesOrganizationList" [(ngModel)]="selectedSalesOrgItem" [settings]="salesOrgSetting" (onSelect)="selectSalesOrg($event)" (onDeSelect)="deSelectSalesOrg($event)"  #SalesOrganization="ngModel" required [disabled]="viewModeField">
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="addInquiryForm.submitted && SalesOrganization.invalid" class="field-error">
                                        {{label.Sales_Organization}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DistributionChannel">{{ label.Distribution_Channel }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                    <input name="DistributionChannel" class="form-control" [(ngModel)]="inquiryDetails.DistributionChannel"  placeholder="{{ label.Distribution_Channel }}" [readonly]="true"  #DistributionChannel="ngModel" required>
                                    <div *ngIf="addInquiryForm.submitted && DistributionChannel.invalid" class="field-error">
                                        {{label.Distribution_Channel}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Division">{{ label.Division }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                     <input name="Division" class="form-control" [(ngModel)]="inquiryDetails.Division"  placeholder="{{ label.Division }}" [readonly]="true"  #Division="ngModel" required>
                                     <div *ngIf="addInquiryForm.submitted && Division.invalid" class="field-error">
                                        {{label.Division}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="editInquiryId">
                                <div class="form-group">
                                    <label for="CreatedBy">{{ label.Created_by }}:</label>&nbsp;
                                    <input type="text" name="CreatedBy" id="CreatedBy" [(ngModel)]="inquiryDetails.CreatedBy" 
                                        class="form-control" placeholder="{{ label.Created_by }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="CreatedDate">{{ label.Created_on }}:</label>&nbsp;
                                    <input name="CreatedDate" class="form-control" [(ngModel)]="inquiryDetails.CreatedDate" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" placeholder="{{ label.Created_on }}" [disabled]="true">
                                    <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ValidFrom">{{ label.Valid_from }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                    <input name="ValidFrom" class="form-control" [(ngModel)]="inquiryDetails.ValidFrom" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.Valid_from }}" [max]="inquiryDetails.ValidTo"  #ValidFrom="ngModel" [disabled]="viewModeField" required>
                                    <owl-date-time #dt1 [pickerType]="'calendar'"  [disabled]="viewModeField"></owl-date-time>
                                    <div *ngIf="addInquiryForm.submitted && ValidFrom.invalid" class="field-error">
                                        {{label.Valid_from}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ValidTo">{{ label.Valid_to }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                    <input name="ValidTo" class="form-control" [(ngModel)]="inquiryDetails.ValidTo" [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" placeholder="{{ label.Valid_to }}" [readonly]="viewModeField" [min]="inquiryDetails.ValidFrom"  #ValidTo="ngModel" required>
                                    <owl-date-time #dt4 [pickerType]="'calendar'" [disabled]="viewModeField"></owl-date-time>
                                    <div *ngIf="addInquiryForm.submitted && ValidTo.invalid" class="field-error">
                                        {{label.Valid_to}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DocumentDate">{{ label.Document_Dat }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                    <input class="form-control" name="DocumentDate" [(ngModel)]="inquiryDetails.DocumentDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.Document_Dat }}" [readonly]="viewModeField"  #DocumentDate="ngModel" required>
                                    <owl-date-time #dt2 [pickerType]="'calendar'" [disabled]="viewModeField"></owl-date-time>
                                    <div *ngIf="addInquiryForm.submitted && DocumentDate.invalid" class="field-error">
                                        {{label.Document_Dat}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="NetValue">{{ label.Net_value }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                    <input type="text" name="NetValue" id="NetValue" [(ngModel)]="inquiryDetails.NetValue" 
                                        class="form-control" placeholder="{{ label.Net_value }}" (keydown)="setNetValue($event)" [readonly]="viewModeField"  #NetValue="ngModel" required>
                                    <div *ngIf="addInquiryForm.submitted && NetValue.invalid" class="field-error">
                                        {{label.Net_value}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SDDocumentCurrency">{{ label.SD_Doc_Currency }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                    
                                    <ng-multiselect-dropdown name="SDDocumentCurrency" [placeholder]="label.SD_Doc_Currency" [data]="sdDocCurrencyList" [(ngModel)]="selectedSdDocCurrencyItems" [settings]="dropdownSdDocCurrencySettings" [disabled]="true"  #SDDocumentCurrency="ngModel" required>
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="addInquiryForm.submitted && SDDocumentCurrency.invalid" class="field-error">
                                        {{label.SD_Doc_Currency}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="RequestedDeliveryDate">{{ label.Requested_Deliver }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                   
                                    <input name="RequestedDeliveryDate" class="form-control" [(ngModel)]="inquiryDetails.RequestedDeliveryDate" [owlDateTime]="dt5" [owlDateTimeTrigger]="dt5" placeholder="{{ label.Requested_Deliver }}" [readonly]="viewModeField"  #RequestedDeliveryDate="ngModel" required>
                                    <owl-date-time #dt5 [pickerType]="'calendar'"></owl-date-time>
                                    <div *ngIf="addInquiryForm.submitted && RequestedDeliveryDate.invalid" class="field-error">
                                        {{label.Requested_Deliver}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="editInquiryId">
                                <div class="form-group">
                                    <label for="DocumentNo">{{ label.Sales_Document }}:</label>&nbsp;
                                    <input type="text" name="DocumentNo" id="DocumentNo" [(ngModel)]="inquiryDetails.DocumentNo" 
                                        class="form-control" placeholder="{{ label.Sales_Document }}" [readonly]="true"  #DocumentNo="ngModel">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Status">{{ label.Status }}<span class="mandatory">
                                            *</span>:</label>&nbsp;
                                   <ng-multiselect-dropdown name="status" [placeholder]="'Select Status'" [data]="dropdownStatusList" [(ngModel)]="selectedStatusItems" [settings]="dropdownSettingsStatus" (onSelectAll)="onSelectAll($event)" [disabled]="true"  #status="ngModel" required>
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="addInquiryForm.submitted && status.invalid" class="field-error">
                                        {{label.Status}}
                                        {{label.Is_Required}}</div>
                                </div>
                            </div> 

                            <div class="col-md-12">
                                <button *ngIf="showApproveBttn" style="font-size: 12px;float: right;"
                                    class="btn btn-success" (click)="onClickApproved()" placement="top"
                                    ngbTooltip="{{label.Approve}}"><i class="fa fa-check-square" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row" *ngIf="formSaveErrorMsg">
                        <div class="col-md-12 error-msg">
                            {{formSaveErrorMsg}}
                        </div>
                    </div>
                    <div class="row" *ngIf="inquiryDetails.Status != 1 && visibaleButton == true && isAddEditPermission == true">
                        <button *ngIf="!viewModeField" class="btn btn-info" type="submit">Save</button> 
                        <button *ngIf="!viewModeField" class="btn btn-secondary" type="button" (click)="cancelEnquiryDetails()">Cancel</button>
                        <button *ngIf="editInquiryId" class="btn btn-danger" (click)="deleteEnquiryHeaderDetails()" type="button">Delete</button>
                        <button *ngIf="editInquiryId && invoiceItemDetails.length > 0" class="btn btn-success" (click)="submitEnquiryDetails(addInquiryForm)">Submit</button>
                    </div>
                </form>
            </div>
            <div class="row" *ngIf="isAddEditPermission">
                <div class="col">
                    <button [disabled]="(addInquiryForm.invalid  || !isRolesSelected) && inquiryDetails.Status != 1 && visibaleButton == true"
                        *ngIf="isEdit.inquiryDetailsEditModeEnable"
                        (click)="saveFormDetails('addInquiryForm', addInquiryForm)" class="btn btn-success float-right">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <button *ngIf="editInquiryId && inquiryDetails.Status != 1 && visibaleButton == true" (click)="enableForm('addInquiryForm')"
                        class="btn btn-success float-right">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <section id="tabs">
                <div class="col-xs-12">
                    <nav class="sub-nav">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="cursor: pointer;">
                            <ng-container *ngFor="let tab of tabsArray">
                                <a class="nav-item nav-link" [ngClass]="tab.isActiveClass"
                                    (click)="onChangeTab(tab);">{{tab.name}}</a>
                            </ng-container>
                        </div>
                    </nav>
                </div>
                <div id="section1" *ngIf="tabsArray.length > 0 && tabsArray[0].isActiveClass">
                    <div class="row add-inquiry-item-button">
                        <div *ngIf="editInquiryId && inquiryDetails.Status != 1 && visibaleButton == true && isAddEditPermission">
                            <button (click)="openModal('add-inquiry-items-modal')" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <app-modal-form [modalData]="{'modalId' : 'add-inquiry-items-modal', 'header' : label.AddItem, 'close': label.Cancel,
                            size: 'modal-lg', save: label.Save}" (callFunction)="addInquiryItem($event)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Sales_Document_Item }}<span class="mandatory">
                                            *</span></label>
                                    <input type="text" [(ngModel)]="itemsDetails.Item" 
                                        class="form-control" placeholder="{{ label.Sales_Document_Item }}" [readonly]="true">
                                    <div *ngIf="inquiryLineItemForm.submitted && !itemsDetails.Item" class="field-error">
                                        {{label.Sales_Document_Item}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Material_Number }}<span class="mandatory">
                                            *</span></label>
                                    <ng-multiselect-dropdown name="MaterialNo" [placeholder]="label.Material_Number" [data]="materilMasterList" [(ngModel)]="materialMasterSelectItem" [settings]="materialMasterSetting" (onSelect)="selectMaterialItem($event)" (onDeSelect)="deSelectMaterialItem($event)" required>
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="inquiryLineItemForm.submitted && materialMasterSelectItem.length == 0" class="field-error">
                                        {{label.Material_Number}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Description }}<span class="mandatory">
                                            *</span></label>
                                    <input type="text" [(ngModel)]="itemsDetails.ShortText" class="form-control"
                                        placeholder="{{ label.Description }}">
                                    <div *ngIf="inquiryLineItemForm.submitted && !itemsDetails.ShortText" class="field-error">
                                        {{label.Description}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Net_Value_Of_Item_Currency }}<span class="mandatory">
                                            *</span></label>
                                    <input type="text" [(ngModel)]="itemsDetails.NetValue"
                                        class="form-control" placeholder="{{ label.Net_Value_Of_Item_Currency }}" (keydown)="numericValue($event)">
                                    <div *ngIf="inquiryLineItemForm.submitted && !itemsDetails.NetValue" class="field-error">
                                        {{label.Net_Value_Of_Item_Currency}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Order_Quantity }}<span class="mandatory">
                                            *</span></label>
                                    <input type="text" [(ngModel)]="itemsDetails.OrderQuantity" class="form-control"
                                        placeholder="{{ label.Order_Quantity }}" (keydown)="numericValue($event)">
                                    <div *ngIf="inquiryLineItemForm.submitted && !itemsDetails.OrderQuantity" class="field-error">
                                        {{label.Order_Quantity}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngFor="let item of questionsList;let i of index">
                                <h6>{{item.currentIndex}}) {{item.Question}}</h6>
                                <div *ngIf="item.QuestionType == 'input'">
                                    <input class="form-control" type="text" name="quize_answer" [(ngModel)]="quizeDetails[item['Question_ID']]">
                                </div>
                                <div *ngIf="item.QuestionType == 'textarea'">
                                    <textarea  class="form-control"  [(ngModel)]="quizeDetails[item['Question_ID']]"></textarea>
                                </div>
                                <div *ngIf="item.QuestionType == 'radio'">
                                    <div class="col-md-4" *ngFor="let opt of item.QuestionOptionArr">
                                        <input  [(ngModel)]="quizeDetails[item['Question_ID']]" type="radio" name="quize_{{item['Question_ID']}}" value="{{opt}}"> {{opt}}
                                    </div>
                                </div>
                                <div *ngIf="item.QuestionType == 'checkbox'">
                                    <div class="col-md-4" *ngFor="let opt of item.QuestionOptionArr;let j of index">
                                        <input type="checkbox" name="quize_{{item['Question_ID']}}_{{opt}}"  id="quize_{{1}}_{{opt}}" value="{{opt}}" (change)="onChangeCheckBoxEvent($event, item.Question_ID, opt)">
                                        {{opt}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-modal-form>
                    <div style="margin-top: 20px;">
                        <table id="asn_gr_details_docs_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{label.Sales_Document_Item}}</th>
                                    <th>{{label.Material_Number}}</th>
                                    <th>{{label.Description}}</th>
                                    <th>{{label.Net_Value_Of_Item_Currency}}</th>
                                    <th>{{label.Order_Quantity}}</th>
                                    <!-- <th>{{label.Net_Weight_of_the_Item}}</th>
                                    <th>{{label.Weight_Unit}}</th> -->
                                    <th *ngIf="inquiryDetails.Status != 1 && visibaleButton == true">{{label.Action}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of invoiceItemDetails; let i = index">
                                    <td>{{item.Item}}</td>
                                    <td>{{item.MaterialNo}}</td>
                                    <td>{{item.ShortText}}</td>
                                    <td>{{item.NetValue}}</td>
                                    <td>{{item.OrderQuantity}}</td>
                                   <!--  <td>{{item.NetWeight}}</td>
                                    <td>{{item.WeightUnit}}</td> -->
                                    <td *ngIf="inquiryDetails.Status != 1 && visibaleButton == true">
                                        <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="editInquiryItem(item,i)" placement="top" ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </button>
                                        <button style="font-size: 12px;" class="btn btn-danger"
                                            (click)="deleteEnquiryItemDetails(item.SalesInquiryItemID)" placement="top" ngbTooltip="{{label.Delete}}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-record-found" *ngIf="roleArray?.length == 0">
                        {{label.No_Record_Found}}
                    </div>
                </div>

                <div id="section2" *ngIf="tabsArray.length > 0 && tabsArray[1].isActiveClass">
                    <div class="row add-inquiry-item-button">
                        <div  *ngIf="inquiryDetails.Status != 1 && visibaleButton == true && isAddEditPermission">
                            <button (click)="openModal('add-document-items-modal')" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <app-modal-form [modalData]="{'modalId' : 'add-document-items-modal', 'header' : label.AddDocument, 'close': label.Close,
                            size: 'modal-lg', save: 'OK'}" (callFunction)="addDcoumentDetails($event)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Line_Item}}<span class="mandatory">*</span></label>
                                    <ng-multiselect-dropdown name="LineItem" [placeholder]="label.Line_Item" [data]="invoiceItemDetails" [(ngModel)]="invoiceItemSelectedItem" [settings]="invocieItemSetting">
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="inquiryDocumentForm.submitted && invoiceItemSelectedItem.length == 0" class="field-error">
                                        {{label.Line_Item}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Doc_Ref_No}}<span class="mandatory">*</span></label>
                                    <input type="text" [(ngModel)]="documentDetails.DocRefNo" 
                                        class="form-control" placeholder="{{label.Doc_Ref_No}}">
                                    <div *ngIf="inquiryDocumentForm.submitted && !documentDetails.DocRefNo" class="field-error">
                                        {{label.Doc_Ref_No}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Document_Name}}<span class="mandatory">*</span></label>
                                    <input type="text" [(ngModel)]="documentDetails.DocumentName" 
                                        class="form-control" placeholder="{{label.Document_Name}}">
                                     <div *ngIf="inquiryDocumentForm.submitted && !documentDetails.DocumentName" class="field-error">
                                        {{label.Document_Name}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Doc_Type}}<span class="mandatory">*</span></label>
                                    <input type="text" [(ngModel)]="documentDetails.Doctype" 
                                        class="form-control" placeholder="{{label.Doc_Type}}">
                                     <div *ngIf="inquiryDocumentForm.submitted && !documentDetails.Doctype" class="field-error">
                                        {{label.Doc_Type}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.TAB.UploadFile}}<span class="mandatory">*</span></label>
                                    <input type="file" (change)="selectFile($event)" />
                                     <div *ngIf="inquiryDocumentForm.submitted && !selectedFile" class="field-error">
                                        {{label.TAB.UploadFile}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                                 
                            </div>
                        </div>
                    </app-modal-form>
                    <div style="margin-top: 20px;">
                        <table id="asn_gr_details_docs_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{label.Line_Item}}</th>
                                    <th>{{label.Doc_Ref_No}}</th>
                                    <th>{{label.Document_Name}}</th>
                                    <th>{{label.Doc_Type}}</th>
                                    <th>{{label.Action}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of invoiceDocumentDetails; let i = index"
                                    [class.selected-row]="item.isChecked">
                                    <td>{{item.LineItem}}</td>
                                    <td>{{item.DocumentRefNo}}</td>
                                    <td>{{item.DocumentName}}</td>
                                    <td>{{item.DocumentType}}</td>
                                    <td *ngIf="inquiryDetails.Status != 1 && visibaleButton == true">
                                       <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="editDocumentItem(item,i)" placement="top" ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </button>&nbsp;
                                        <button class="btn btn-info fsize-12" (click)="documentDownload(item.AttachmentName)">
                                            <i class="fa fa-download cursor-pointer"></i>
                                        </button>
                                    </td>
                                    <td *ngIf="inquiryDetails.Status == 1 || visibaleButton == false">
                                        <button class="btn btn-info fsize-12" (click)="documentDownload(item.AttachmentName)">
                                            <i class="fa fa-download cursor-pointer"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-record-found" *ngIf="roleArray?.length == 0">
                        {{label.No_Record_Found}}
                    </div>
                </div>

            </section>
        </div>
    </app-card>
</app-container>