.asn-details {
    background: #d3d3d373;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;

    .asn-label {
        font-size: 13px;
    }
}

#tabs h6.section-title {
    color: #eee;
}

#labelNoPermission {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0CE !important;
    background-color: transparent;
    border-color: transparent transparent #0CE !important;
    border-bottom: 4px solid !important;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: grey;
    font-size: 19px;
}
.checkbox {
    height: 22px;
}
button {
    margin-left: 10px;
}
.button-position {
    float: right;
}

.add-inquiry-item-button{
    float: right;
    padding-right: 15px;
    padding-bottom: 15px;
}

.datepicker-form-control{
    display: block;
    width: 90%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}