.app-card-header{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid lightgrey;

    .back-button {
        float: left;
        color: dodgerblue;
        margin-top: -7px;
    }

    .additional-button{
        float: right;
        margin-top: -35px;
        color: white;
    }

    .card-heading{
        color: dodgerblue;
    }
}
