<div *ngIf="headerData" class="card" style="padding: 1rem;">
    <div class="app-card-header" *ngIf="headerData.headerVisible">
        <b *ngIf="headerData.backPath" placement="top" ngbTooltip="{{label.Back}}" (click)="goToPage(headerData.backPath);">
            <i class="fa fa-arrow-circle-left fa-2x back-button" aria-hidden="true"></i>
        </b>
        <h6 *ngIf="headerData.heading" class="card-heading">
            <b *ngIf="!headerData.backPath">{{headerData.heading}}</b>
            <b *ngIf="headerData.backPath" style="margin-left: 10px;">{{headerData.heading}}</b>
        </h6>
        <a *ngIf="headerData.addButtonToolTip" class="btn btn-success additional-button" (click)="onClickAdd()" placement="top" ngbTooltip="{{headerData.addButtonToolTip}}">
            <b><i class="fa fa-plus"></i></b>
        </a>
    </div>
    
    <ng-content></ng-content>
    
</div>