<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span>{{label.SUB_TAB.Message}}</span>
    </h4>
</div>
<app-container>
    <app-card
        [headerData]="{'backPath': '/dashboard', 'heading' : label.Back, addButtonToolTip: label.SUB_TAB.Message_Details ,'addButtonRoute' : '/marketing-section/message-details', 'headerVisible': headerVisible}">
        <div style="margin-top: 20px;" *ngIf="deliveryArray?.length > 0" class="table-responsive">
            <table id="message_header_table" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>{{label.MARKETING_TAB.Sender_Type}}</th>
                        <th>{{label.MARKETING_TAB.Customer}}</th>
                        <th>{{label.MARKETING_TAB.Group}}</th>
                        <th>{{label.MARKETING_TAB.Message}}</th>
                        <th>{{label.MARKETING_TAB.From_Date}}</th>
                        <th>{{label.MARKETING_TAB.To_Date}}</th>
                        <th>{{label.MARKETING_TAB.Is_Active}}</th>
                        <th>{{label.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of deliveryArray; let i = index"
                        [class.selected-row]="item.isChecked">
                        <td>{{item.Send_Message}}</td>
                        <td>{{item.Customer_Name}}</td>
                        <td>{{item.Group_Name}}</td>
                        <td>{{item.Message}}</td>
                        <td>{{item.From_Date | date}}</td>
                        <td>{{item.To_Date | date}}</td>
                        <td>{{item.IsActive == true ? true : false}}</td>
                        <td>
                            <button style="font-size: 12px;" class="btn btn-primary" placement="top"
                                ngbTooltip="{{label.More_Details}}" (click)="viewMessageDetails(item);">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>&nbsp;
                            <button class="btn btn-danger" (click)="deleteMessageDetails(item.MessageID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="no-record-found" *ngIf="deliveryArray?.length == 0">
            {{label.No_Record_Found}}
        </div>
    </app-card>
</app-container>