<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span>{{label.MATERIAL_TAB.Material}}</span>
    </h4>
</div>
<app-container>
    <app-card
        [headerData]="{'backPath': '/dashboard', 'heading' : label.Back, addButtonToolTip: label.MATERIAL_TAB.Material_Details ,'addButtonRoute' : '/master-section/material', 'headerVisible': 'false'}">
        <div class="row mt-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FromDate">{{ label.FromDate }}:</label>&nbsp;
                    <input name="FromDate" class="form-control" [(ngModel)]="materialFilter.FromDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.FromDate }}" >
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ToDate">{{ label.ToDate }}:</label>&nbsp;
                    <input name="ToDate" class="form-control" [(ngModel)]="materialFilter.ToDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.ToDate }}">
                    <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NetValue">{{ label.Keyword }}:</label>&nbsp;
                    <input type="text" name="Keyword" id="Keyword" [(ngModel)]="materialFilter.Keyword" 
                        class="form-control" placeholder="{{ label.Keyword }}" #Keyword="ngModel">
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <button (click)="getMaterialInfo()" class="btn btn-success mtop-5">Search</button>&nbsp;
                <button (click)="getMaterialExportData()" class="btn btn-info mtop-5">Export</button>
            </div>
        </div>
        <div style="margin-top: 20px;" *ngIf="materialArray?.length > 0" class="table-responsive">
            <table id="invoice_header_table" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>{{label.MATERIAL_TAB.Indicator}}</th>
                        <th>{{label.MATERIAL_TAB.BaseUOM_Code}}</th>
                        <th>{{label.MATERIAL_TAB.Client}}</th>
                        <th>{{label.MATERIAL_TAB.CreatedByName}}</th>
                        <th>{{label.MATERIAL_TAB.CreatedDate}}</th>
                        <th>{{label.MATERIAL_TAB.ItemCate_Code}}</th>
                        <th>{{label.MATERIAL_TAB.LastChangeDate}}</th>
                        <th>{{label.MATERIAL_TAB.MRPType}}</th>
                        <th>{{label.MATERIAL_TAB.MaterialDescription}}</th>

                        <th>{{label.MATERIAL_TAB.MaterialNumber}}</th>
                        <th>{{label.MATERIAL_TAB.MaterialTypeCode}}</th>
                        <th>{{label.MATERIAL_TAB.NetPrice}}</th>
                        <th>{{label.MATERIAL_TAB.PriceControl}}</th>
                        <th>{{label.MATERIAL_TAB.PriceUnit}}</th>
                        <th>{{label.MATERIAL_TAB.PurchasingGrp_Code}}</th>
                        <th>{{label.MATERIAL_TAB.QuestionnaireHeader}}</th>
                        <th>{{label.MATERIAL_TAB.ValuationClass}}</th>
                        <th>{{label.MATERIAL_TAB.ValuationType}}</th>

                        <th>{{label.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of materialArray; let i = index"
                        [class.selected-row]="item.isChecked">
                        <td>{{item.ABCIndicator}}</td>
                        <td>{{item.BaseUOM_Code}}</td>
                        <td>{{item.Client}}</td>
                        <td>{{item.CreatedByName}}</td>
                        <td>{{item.CreatedDate}}</td>
                        <td>{{item.ItemCate_Code}}</td>
                        <td>{{item.LastChangeDate}}</td>
                        <td>{{item.MRPType}}</td>
                        <td>{{item.MaterialDescription}}</td>

                        <td>{{item.MaterialNumber}}</td>
                        <td>{{item.MaterialTypeCode}}</td>
                        <td>{{item.NetPrice}}</td>
                        <td>{{item.PriceControl}}</td>
                        <td>{{item.PriceUnit}}</td>
                        <td>{{item.PurchasingGrp_Code}}</td>
                        <td>{{item.QuestionnaireName}}</td>
                        <td>{{item.ValuationClass}}</td>
                        <td>{{item.ValuationType}}</td>
                        <td>
                            <button style="font-size: 12px;" class="btn btn-primary" placement="top"
                                ngbTooltip="{{label.More_Details}}" (click)="viewMaterialDetails(item);">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="no-record-found" *ngIf="materialArray?.length == 0">
            {{label.No_Record_Found}}
        </div>
    </app-card>
</app-container>