<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span [routerLink]="['/invoice-payment/invoice']">{{label.INVOICE_PAYMENT_TAB.Invoice}}</span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': invoiceDetails.from, 'heading' : label.Back, 'headerVisible': 'true'}">
        <div style="margin-top: 20px;">
            <angular2csv *ngIf="editInvoiceId" [data]="invoiceExportData" filename="invoice-details" [options]="options">Export</angular2csv>
            <div class="asn-details">
                <form #addInquiryForm="ngForm" id="addInquiryForm" name="addInquiryForm" style="margin-top:
                    15px;">
                    <fieldset >
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Delivery_Type">{{ label.INVOICE_PAYMENT_TAB.Billing_Document }}:</label>&nbsp;
                                    <input name="Billing_Document" class="form-control" [(ngModel)]="invoiceDetails.BillingDocument"  placeholder="{{ label.INVOICE_PAYMENT_TAB.Billing_Document }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Sold_To_Party">{{ label.INVOICE_PAYMENT_TAB.Sold_To_Party }}:</label>&nbsp;
                                    <input name="Sold_To_Party" class="form-control" [(ngModel)]="invoiceDetails.SoldToParty"  placeholder="{{ label.INVOICE_PAYMENT_TAB.Sold_To_Party }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Payer">{{ label.INVOICE_PAYMENT_TAB.Payer }}:</label>&nbsp;
                                    <input name="Payer" class="form-control" [(ngModel)]="invoiceDetails.Payer"  placeholder="{{ label.INVOICE_PAYMENT_TAB.Payer }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Customer_Purchase_Order_Number">{{ label.INVOICE_PAYMENT_TAB.Customer_Purchase_Order_Number }}:</label>&nbsp;
                                    <input name="Customer_Purchase_Order_Number" class="form-control" [(ngModel)]="invoiceDetails.CustomerPurchaseOrderNumber"  placeholder="{{ label.INVOICE_PAYMENT_TAB.Customer_Purchase_Order_Number }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Sales_Organization">{{ label.INVOICE_PAYMENT_TAB.Sales_Organization }}:</label>&nbsp;
                                    <input name="Sales_Organization" class="form-control" [(ngModel)]="invoiceDetails.SalesOrganization"  placeholder="{{ label.INVOICE_PAYMENT_TAB.Sales_Organization }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SD_Document_Currency">{{ label.INVOICE_PAYMENT_TAB.SD_Document_Currency }}:</label>&nbsp;
                                    <input name="SD_Document_Currency" class="form-control" [(ngModel)]="invoiceDetails.SDDocumentCurrency"  placeholder="{{ label.INVOICE_PAYMENT_TAB.SD_Document_Currency }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Payment_Method">{{ label.INVOICE_PAYMENT_TAB.Payment_Method }}:</label>&nbsp;
                                    <input name="Payment_Method" class="form-control" [(ngModel)]="invoiceDetails.PaymentMethod"  placeholder="{{ label.INVOICE_PAYMENT_TAB.Payment_Method }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Shipping_Conditions">{{ label.INVOICE_PAYMENT_TAB.Shipping_Conditions }}:</label>&nbsp;
                                    <input name="Shipping_Conditions" class="form-control" [(ngModel)]="invoiceDetails.ShippingConditions"  placeholder="{{ label.INVOICE_PAYMENT_TAB.Shipping_Conditions }}" [readonly]="true">
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Net_Value_Document_Currency">{{ label.INVOICE_PAYMENT_TAB.Net_Value_Document_Currency }}:</label>&nbsp;
                                    <input name="Net_Value_Document_Currency" class="form-control" [(ngModel)]="invoiceDetails.NetValueinDocumentCurrency"  placeholder="{{ label.INVOICE_PAYMENT_TAB.Net_Value_Document_Currency }}" [readonly]="true">
                                </div>
                            </div>
                           
                            
                            
                            
                        </div>
                    </fieldset>
                </form>
            </div>
           
            <section id="tabs">
                <div class="col-xs-12">
                    <nav class="sub-nav">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="cursor: pointer;">
                            <ng-container *ngFor="let tab of tabsArray">
                                <a class="nav-item nav-link" [ngClass]="tab.isActiveClass"
                                    (click)="onChangeTab(tab);">{{tab.name}}</a>
                            </ng-container>
                        </div>
                    </nav>
                </div>
                <div id="section1" *ngIf="tabsArray.length > 0 && tabsArray[0].isActiveClass">
                    <app-modal-form [modalData]="{'modalId' : 'add-delivery-items-modal', 'header' : label.AddItem, 'close': label.Cancel,
                            size: 'modal-lg', save: label.Save}" (callFunction)="addInquiryItem($event)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Sales_Document_Item }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.Item" 
                                        class="form-control" placeholder="{{ label.Sales_Document_Item }}" [readonly]="true">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Description }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.ShortText" class="form-control"
                                        placeholder="{{ label.Description }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Net_Value_Of_Item_Currency }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.NetValue"
                                        class="form-control" placeholder="{{ label.Net_Value_Of_Item_Currency }}" (keydown)="numericValue($event)">
                                </div>
                            </div>

                           <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Order_Quantity }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.OrderQuantity" class="form-control"
                                        placeholder="{{ label.Order_Quantity }}" (keydown)="numericValue($event)">
                                </div>
                            </div>
                        </div>
                    </app-modal-form>
                    <div style="margin-top: 20px;">
                        <table id="asn_gr_details_docs_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Billing_Item}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Actual_Billed_Quantity}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Base_Unit_Measure}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Net_Weight}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Gross_Weight}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Weight_Unit}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Volume}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Volume_Unit}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Value_Billing_Document_Currency}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Article_Number}}</th>
                                    <th>{{label.INVOICE_PAYMENT_TAB.Site}}</th>
                                    <!-- <th *ngIf="invoiceDetails.Status != 1 && visibaleButton == true">{{label.Action}}</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of deliveryItemDetail; let i = index">
                                    <td>{{item.Billingitem}}</td>
                                    <td>{{item.Actualbilledquantity}}</td>
                                    <td>{{item.BaseUnitofMeasure}}</td>
                                    <td>{{item.Netweight}}</td>
                                    <td>{{item.Grossweight}}</td>
                                    <td>{{item.WeightUnit}}</td>
                                    <td>{{item.Volume}}</td>
                                    <td>{{item.VolumeUnit}}</td>
                                    <td>{{item.NetValueOfBillingItemInDocumentCurrency}}</td>
                                    <td>{{item.ArticleNumber}}</td>
                                    <td>{{item.Site}}</td>
                                    <!-- <td>{{item.PartialDeliveryAtItemLevel}}</td> -->
                                    <!-- <td *ngIf="invoiceDetails.Status != 1 && visibaleButton == true">
                                        <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="editInquiryItem(item,i)" placement="top" ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </button>
                                        <button style="font-size: 12px;" class="btn btn-danger"
                                            (click)="deleteEnquiryItemDetails(item.SalesInquiryItemID)" placement="top" ngbTooltip="{{label.Delete}}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-record-found" *ngIf="roleArray?.length == 0">
                        {{label.No_Record_Found}}
                    </div>
                </div>
                <div id="section2" *ngIf="tabsArray.length > 0 && tabsArray[1].isActiveClass">
                    <div class="row add-inquiry-item-button" style="float: right;margin: 0px;">
                        <div  *ngIf="visibaleButton == true && isAddEditPermission">
                            <button (click)="openModal('add-document-items-modal')" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <app-modal-form [modalData]="{'modalId' : 'add-document-items-modal', 'header' : label.AddDocument, 'close': label.Close,
                            size: 'modal-lg', save: 'OK'}" (callFunction)="addDcoumentDetails($event)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Line_Item}}<span class="mandatory">*</span></label>
                                    <ng-multiselect-dropdown name="LineItem" [placeholder]="label.Line_Item" [data]="deliveryItemDetail" [(ngModel)]="invoiceItemSelectedItem" [settings]="invocieItemSetting">
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="inquiryDocumentForm.submitted && invoiceItemSelectedItem.length == 0" class="field-error">
                                        {{label.Line_Item}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Doc_Ref_No}}<span class="mandatory">*</span></label>
                                    <input type="text" [(ngModel)]="documentDetails.DocRefNo" 
                                        class="form-control" placeholder="{{label.Doc_Ref_No}}">
                                    <div *ngIf="inquiryDocumentForm.submitted && !documentDetails.DocRefNo" class="field-error">
                                        {{label.Doc_Ref_No}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Document_Name}}<span class="mandatory">*</span></label>
                                    <input type="text" [(ngModel)]="documentDetails.DocumentName" 
                                        class="form-control" placeholder="{{label.Document_Name}}">
                                     <div *ngIf="inquiryDocumentForm.submitted && !documentDetails.DocumentName" class="field-error">
                                        {{label.Document_Name}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Doc_Type}}<span class="mandatory">*</span></label>
                                    <input type="text" [(ngModel)]="documentDetails.Doctype" 
                                        class="form-control" placeholder="{{label.Doc_Type}}">
                                     <div *ngIf="inquiryDocumentForm.submitted && !documentDetails.Doctype" class="field-error">
                                        {{label.Doc_Type}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.TAB.UploadFile}}<span class="mandatory">*</span></label>
                                    <input type="file" (change)="selectFile($event)" />
                                     <div *ngIf="inquiryDocumentForm.submitted && !selectedFile" class="field-error">
                                        {{label.TAB.UploadFile}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                                 
                            </div>
                        </div>
                    </app-modal-form>
                    <div style="margin-top: 20px;">
                        <table id="asn_gr_details_docs_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{label.Line_Item}}</th>
                                    <th>{{label.Doc_Ref_No}}</th>
                                    <th>{{label.Document_Name}}</th>
                                    <th>{{label.Doc_Type}}</th>
                                    <th>{{label.Action}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of invoiceDocumentDetails; let i = index"
                                    [class.selected-row]="item.isChecked">
                                    <td>{{item.LineItem}}</td>
                                    <td>{{item.DocumentRefNo}}</td>
                                    <td>{{item.DocumentName}}</td>
                                    <td>{{item.DocumentType}}</td>
                                    <td><button class="btn btn-info fsize-12" (click)="documentDownload(item.AttachmentName)">
                                            <i class="fa fa-download cursor-pointer"></i>
                                        </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-record-found" *ngIf="invoiceDocumentDetails?.length == 0">
                        {{label.No_Record_Found}}
                    </div>
                </div>
            </section>
        </div>
    </app-card>
</app-container>