.no-record-found {
    margin-top: 17px;
    text-align: center;
    font-size: 35px;
    color: darkgrey;
}

.login-background {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.other-background {
    background-color: whitesmoke;
}

.field-error {
    color: red;
    position: relative;
    padding: 0;
    margin-bottom: 1rem;
    font-size: 14px;

    .field {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        background-image: "";
        background-position: center right calc(0.375em + 0.1875rem);
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
}

.mandatory {
    color: red;
}

.menu-background {
    margin-top: 50px;
    height: 200px;
    background-color: #0061f2;
    background-image: linear-gradient(135deg, #13547a 0%, rgba(6, 151, 196, 0.8) 100%);
    padding: 2rem;
    position: absolute;
    width: 100%;
    color: white;
    cursor: pointer;
    // h4 {
    //     margin-top: -10px;
    //     color: white;
    // }
}

.sub-nav {
    background: white !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table thead th {
    font-size: 15px;
    background: #f1efef;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none !important;
    background: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 0px !important;
}

.selected-row{
    background: lightskyblue !important;
}

.po-buttons {
    margin-top: 20px;
    float: right;
    margin-right: 1rem;
}

.table-horizontal-scroll{
    overflow-x: scroll !important;
}

.footer {
    height: 40px !important;
    line-height: 50px !important;
}

.error-msg{
    color: red;
    padding: 12px;
}

.cursor-pointer{
    cursor: pointer;
}
.mt-20{
    margin-top: 20px;
}
.mtop-5{
    margin-top: 5px;
}
.fsize-12{
    font-size: 12px;
}
.mt-15{
    margin-top: 15px;
}
.mr-15{
    margin-right:15px;
}