<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span>{{label.SUB_TAB.Delivery}}</span>
    </h4>
</div>
<app-container>
    <app-card
        [headerData]="{'backPath': '/dashboard', 'heading' : label.Back, addButtonToolTip: label.SUB_TAB.Delivery_Details ,'addButtonRoute' : '/asn-shipment-section/delivery-details', 'headerVisible': headerVisible}">
        <div class="row mt-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FromDate">{{ label.FromDate }}:</label>&nbsp;
                    <input name="FromDate" class="form-control" [(ngModel)]="inquiryFilter.FromDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.FromDate }}" >
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ToDate">{{ label.ToDate }}:</label>&nbsp;
                    <input name="ToDate" class="form-control" [(ngModel)]="inquiryFilter.ToDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.ToDate }}">
                    <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NetValue">{{ label.Keyword }}:</label>&nbsp;
                    <input type="text" name="Keyword" id="Keyword" [(ngModel)]="inquiryFilter.Keyword" 
                        class="form-control" placeholder="{{ label.Keyword }}" #Keyword="ngModel">
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <button (click)="getDeliveryHeaderData()" class="btn btn-success mtop-5">Search</button>&nbsp;
                <button (click)="getDeliveryExportData()" class="btn btn-info mtop-5">Export</button>
            </div>
        </div>
        <div style="margin-top: 20px;" *ngIf="deliveryArray?.length > 0" class="table-responsive">
            <table id="delivery_header_table" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>{{label.DELIVERY_TAB.Delivery}}</th>
                        <th>{{label.DELIVERY_TAB.Delivery_Type}}</th>
                        <th>{{label.DELIVERY_TAB.Sold_To_Party}}</th>
                        <th>{{label.DELIVERY_TAB.Ship_To_Party}}</th>
                        <th>{{label.DELIVERY_TAB.Sales_Organization}}</th>
                        <th>{{label.DELIVERY_TAB.SD_Document_Currency}}</th>
                        <th>{{label.DELIVERY_TAB.Shipping_Conditions}}</th>
                        <th>{{label.DELIVERY_TAB.Net_Weight}}</th>
                        <th>{{label.DELIVERY_TAB.Weight_Unit}}</th>
                        <th>{{label.DELIVERY_TAB.Volume}}</th>
                        <th>{{label.DELIVERY_TAB.Volume_Unit}}</th>
                        <th>{{label.DELIVERY_TAB.Planned_Goods_Movement_Date}}</th>
                        <th>{{label.DELIVERY_TAB.Loading_Date}}</th>
                        <th>{{label.DELIVERY_TAB.Transportation_Planning_Date}}</th>
                        <th>{{label.DELIVERY_TAB.Delivery_Date}}</th>
                        <th>{{label.DELIVERY_TAB.Picking_Date}}</th>
                        <th>{{label.DELIVERY_TAB.Time_Of_Delivery}}</th>
                        <th>{{label.Status}}</th>
                        <th>{{label.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let delivery of deliveryArray; let i = index"
                        [class.selected-row]="delivery.isChecked">
                        <td>{{delivery.Delivery}}</td>
                        <td>{{delivery.DeliveryType}}</td>
                        <td>{{delivery.SoldToParty}}</td>
                        <td>{{delivery.ShipToParty}}</td>
                        <td>{{delivery.SalesOrganization}}</td>
                        <td>{{delivery.SDDocumentCurrency}}</td>
                        <td>{{delivery.ShippingConditions}}</td>
                        <td>{{delivery.NetWeight}}</td>
                        <td>{{delivery.WeightUnit}}</td>
                        <td>{{delivery.Volume}}</td>
                        <td>{{delivery.VolumeUnit}}</td>
                        <td>{{delivery.PlannedGoodsMovementDate | date}}</td>
                        <td>{{delivery.LoadingDate | date}}</td>
                        <td>{{delivery.TransportationPlanningDate | date}}</td>
                        <td>{{delivery.DeliveryDate | date}}</td>
                        <td>{{delivery.PickingDate | date}}</td>
                        <td>{{delivery.TimeOfDelivery  | date:'medium'}}</td>
                        <td>{{delivery.Status}}</td>
                        <td>
                            <button style="font-size: 12px;" class="btn btn-primary" placement="top"
                                ngbTooltip="{{label.More_Details}}" (click)="viewDeliveryDetails(delivery);">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="no-record-found" *ngIf="deliveryArray?.length == 0">
            {{label.No_Record_Found}}
        </div>
    </app-card>
</app-container>