<div class="menu-background" *ngIf="messageDetails">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span [routerLink]="['/marketing-section/message']">{{label.MARKETING_TAB.Message}}</span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': messageDetails.from, 'heading' : label.Back, 'headerVisible': 'true'}">
        <div style="margin-top: 20px;">
            <div class="asn-details">
                <form #addMessageDetailsForm="ngForm" id="addMessageDetailsForm" name="addMessageDetailsForm" style="margin-top:
                    15px;"  (ngSubmit)="saveMessageDetails(addMessageDetailsForm)" autocomplete="off" novalidate>
                    <fieldset >
                        <div class="row">
                            
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="senderType">{{ label.MARKETING_TAB.Sender_Type }}<span class="mandatory">
                                                *</span>:</label>&nbsp;
                                        <ng-multiselect-dropdown name="SenderType" [placeholder]="label.MARKETING_TAB.Sender_Type" [data]="senderTypeList" [(ngModel)]="senderTypeSelectItem" [settings]="senderTypeSetting" (onDeSelect)="deSelectSenderType($event)"  #SenderType="ngModel" required>
                                        </ng-multiselect-dropdown>
                                        <div *ngIf="addMessageDetailsForm.submitted && SenderType.invalid" class="field-error">
                                            {{label.MARKETING_TAB.Sender_Type}}
                                            {{label.Is_Required}}</div>
                                    </div>
                                    <div class="form-group" *ngIf="senderTypeSelectItem[0].id == 'GROUP'">
                                        <label for="group">{{ label.MARKETING_TAB.Group }}<span class="mandatory">
                                                *</span>:</label>&nbsp;
                                        <ng-multiselect-dropdown name="Group" [placeholder]="label.MARKETING_TAB.Group" [data]="groupList" [(ngModel)]="groupSelectItem" [settings]="groupSetting" #Group="ngModel" required>
                                        </ng-multiselect-dropdown>
                                        <div *ngIf="addMessageDetailsForm.submitted && Group.invalid" class="field-error">
                                            {{label.MARKETING_TAB.Group}}
                                            {{label.Is_Required}}</div>
                                    </div>
                                    <div class="form-group" *ngIf="senderTypeSelectItem[0].id == 'CUSTOMER'">
                                        <label for="Customer">{{ label.MARKETING_TAB.Customer }}<span class="mandatory">
                                                *</span>:</label>&nbsp;
                                        <ng-multiselect-dropdown name="Customer" [placeholder]="label.MARKETING_TAB.Customer" [data]="customerList" [(ngModel)]="customerSelectItem" [settings]="customerSetting" #Customer="ngModel" required>
                                        </ng-multiselect-dropdown>
                                        <div *ngIf="addMessageDetailsForm.submitted && Customer.invalid" class="field-error">
                                            {{label.MARKETING_TAB.Customer}}
                                            {{label.Is_Required}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Message">{{ label.MARKETING_TAB.Message }}<span class="mandatory">
                                                *</span>:</label>&nbsp;
                                        <textarea name="Message" class="form-control" [(ngModel)]="messageDetails.Message"  placeholder="{{ label.MARKETING_TAB.Message }}" [readonly]="false"  #Message="ngModel" required></textarea>
                                        <div *ngIf="addMessageDetailsForm.submitted && Message.invalid" class="field-error">
                                            {{label.MARKETING_TAB.Message}}
                                            {{label.Is_Required}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="From_Date">{{ label.MARKETING_TAB.From_Date }}:</label>&nbsp;
                                        <input name="From_Date" class="form-control" [(ngModel)]="messageDetails.FromDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.MARKETING_TAB.From_Date }}" [disabled]="false" #FromDate="ngModel" required>
                                        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                                         <div *ngIf="addMessageDetailsForm.submitted && FromDate.invalid" class="field-error">
                                            {{label.MARKETING_TAB.From_Date}}
                                            {{label.Is_Required}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="To_Date">{{ label.MARKETING_TAB.To_Date }}:</label>&nbsp;
                                        <input name="To_Date" class="form-control" [(ngModel)]="messageDetails.ToDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.MARKETING_TAB.To_Date }}" #ToDate="ngModel" [disabled]="false" required>
                                        <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                                          <div *ngIf="addMessageDetailsForm.submitted && ToDate.invalid" class="field-error">
                                            {{label.MARKETING_TAB.To_Date}}
                                            {{label.Is_Required}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Is_Active">{{ label.MARKETING_TAB.Is_Active }}:</label><br/>
                                        <input type="checkbox" class="checkbox" name="To_Date" [(ngModel)]="messageDetails.IsActive"  placeholder="{{ label.MARKETING_TAB.Is_Active }}">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                            
                           
                            
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </app-card>
</app-container>