<div class="menu-background" *ngIf="deliveryDetails">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span [routerLink]="['/asn-shipment-section/delivery']">{{label.DELIVERY_TAB.Delivery}}</span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': deliveryDetails.from, 'heading' : label.Back, 'headerVisible': 'true'}">
        <div style="margin-top: 20px;">
            <angular2csv *ngIf="editDeliveryId" [data]="deliveryExportData" filename="Delivery-details" [options]="options">Export</angular2csv>
            <div class="asn-details">
                <form #addInquiryForm="ngForm" id="addInquiryForm" name="addInquiryForm" style="margin-top:
                    15px;">
                    <fieldset >
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Delivery">{{ label.DELIVERY_TAB.Delivery }}:</label>&nbsp;
                                    <input name="Delivery" class="form-control" [(ngModel)]="deliveryDetails.Delivery"  placeholder="{{ label.DELIVERY_TAB.Delivery }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Delivery_Type">{{ label.DELIVERY_TAB.Delivery_Type }}:</label>&nbsp;
                                    <input name="Delivery_Type" class="form-control" [(ngModel)]="deliveryDetails.DeliveryType"  placeholder="{{ label.DELIVERY_TAB.Delivery_Type }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Sold_To_Party">{{ label.DELIVERY_TAB.Sold_To_Party }}:</label>&nbsp;
                                    <input name="Sold_To_Party" class="form-control" [(ngModel)]="deliveryDetails.SoldToParty"  placeholder="{{ label.DELIVERY_TAB.Sold_To_Party }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Ship_To_Party">{{ label.DELIVERY_TAB.Ship_To_Party }}:</label>&nbsp;
                                    <input name="Ship_To_Party" class="form-control" [(ngModel)]="deliveryDetails.ShipToParty"  placeholder="{{ label.DELIVERY_TAB.Ship_To_Party }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Sales_Organization">{{ label.DELIVERY_TAB.Sales_Organization }}:</label>&nbsp;
                                    <input name="Sales_Organization" class="form-control" [(ngModel)]="deliveryDetails.SalesOrganization"  placeholder="{{ label.DELIVERY_TAB.Sales_Organization }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SD_Document_Currency">{{ label.DELIVERY_TAB.SD_Document_Currency }}:</label>&nbsp;
                                    <input name="SD_Document_Currency" class="form-control" [(ngModel)]="deliveryDetails.SDDocumentCurrency"  placeholder="{{ label.DELIVERY_TAB.SD_Document_Currency }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Shipping_Conditions">{{ label.DELIVERY_TAB.Shipping_Conditions }}:</label>&nbsp;
                                    <input name="Shipping_Conditions" class="form-control" [(ngModel)]="deliveryDetails.ShippingConditions"  placeholder="{{ label.DELIVERY_TAB.Shipping_Conditions }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Net_Weight">{{ label.DELIVERY_TAB.Net_Weight }}:</label>&nbsp;
                                    <input name="Net_Weight" class="form-control" [(ngModel)]="deliveryDetails.NetWeight"  placeholder="{{ label.DELIVERY_TAB.Net_Weight }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Weight_Unit">{{ label.DELIVERY_TAB.Weight_Unit }}:</label>&nbsp;
                                    <input name="Weight_Unit" class="form-control" [(ngModel)]="deliveryDetails.WeightUnit"  placeholder="{{ label.DELIVERY_TAB.Weight_Unit }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Volume">{{ label.DELIVERY_TAB.Volume }}:</label>&nbsp;
                                    <input name="Volume" class="form-control" [(ngModel)]="deliveryDetails.Volume"  placeholder="{{ label.DELIVERY_TAB.Volume }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Volume_Unit">{{ label.DELIVERY_TAB.Volume_Unit }}:</label>&nbsp;
                                    <input name="Volume_Unit" class="form-control" [(ngModel)]="deliveryDetails.VolumeUnit"  placeholder="{{ label.DELIVERY_TAB.Volume_Unit }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Planned_Goods_Movement_Date">{{ label.DELIVERY_TAB.Planned_Goods_Movement_Date }}:</label>&nbsp;
                                    <input name="Planned_Goods_Movement_Date" class="form-control" [(ngModel)]="deliveryDetails.PlannedGoodsMovementDate"  placeholder="{{ label.DELIVERY_TAB.Planned_Goods_Movement_Date }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Loading_Date">{{ label.DELIVERY_TAB.Loading_Date }}:</label>&nbsp;
                                    <input name="Loading_Date" class="form-control" [(ngModel)]="deliveryDetails.LoadingDate"  placeholder="{{ label.DELIVERY_TAB.Loading_Date }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Transportation_Planning_Date">{{ label.DELIVERY_TAB.Transportation_Planning_Date }}:</label>&nbsp;
                                    <input name="Transportation_Planning_Date" class="form-control" [(ngModel)]="deliveryDetails.TransportationPlanningDate"  placeholder="{{ label.DELIVERY_TAB.Transportation_Planning_Date }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Delivery_Date">{{ label.DELIVERY_TAB.Delivery_Date }}:</label>&nbsp;
                                    <input name="Delivery_Date" class="form-control" [(ngModel)]="deliveryDetails.DeliveryDate"  placeholder="{{ label.DELIVERY_TAB.Delivery_Date }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Picking_Date">{{ label.DELIVERY_TAB.Picking_Date }}:</label>&nbsp;
                                    <input name="Picking_Date" class="form-control" [(ngModel)]="deliveryDetails.PickingDate"  placeholder="{{ label.DELIVERY_TAB.Picking_Date }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Time_Of_Delivery">{{ label.DELIVERY_TAB.Time_Of_Delivery }}:</label>&nbsp;
                                    <input name="Time_Of_Delivery" class="form-control" [(ngModel)]="deliveryDetails.TimeOfDelivery"  placeholder="{{ label.DELIVERY_TAB.Time_Of_Delivery }}" [readonly]="true">
                                </div>
                            </div>
                            
                            
                        </div>
                    </fieldset>
                </form>
            </div>
           
            <section id="tabs">
                <!-- <div class="col-xs-12">
                   {{label.SUB_TAB.Delivery_Details}}
                   <button (click)="openModal('add-delivery-items-modal')" class="btn btn-success float-right">
                        <i class="fa fa-plus"></i>
                    </button>
                </div> -->
                <div class="col-xs-12">
                    <nav class="sub-nav">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="cursor: pointer;">
                            <ng-container *ngFor="let tab of tabsArray">
                                <a class="nav-item nav-link" [ngClass]="tab.isActiveClass"
                                    (click)="onChangeTab(tab);">{{tab.name}}</a>
                            </ng-container>
                        </div>
                    </nav>
                </div>
                <div id="section1" *ngIf="tabsArray.length > 0 && tabsArray[0].isActiveClass">
                    <app-modal-form [modalData]="{'modalId' : 'add-delivery-items-modal', 'header' : label.AddItem, 'close': label.Cancel,
                            size: 'modal-lg', save: label.Save}" (callFunction)="addInquiryItem($event)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Sales_Document_Item }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.Item" 
                                        class="form-control" placeholder="{{ label.Sales_Document_Item }}" [readonly]="true">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Description }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.ShortText" class="form-control"
                                        placeholder="{{ label.Description }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Net_Value_Of_Item_Currency }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.NetValue"
                                        class="form-control" placeholder="{{ label.Net_Value_Of_Item_Currency }}" (keydown)="numericValue($event)">
                                </div>
                            </div>

                           <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Order_Quantity }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.OrderQuantity" class="form-control"
                                        placeholder="{{ label.Order_Quantity }}" (keydown)="numericValue($event)">
                                </div>
                            </div>
                        </div>
                    </app-modal-form>
                    <div style="margin-top: 20px;">
                        <table id="asn_gr_details_docs_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{label.DELIVERY_TAB.Delivery_Item}}</th>
                                    <th>{{label.DELIVERY_TAB.Article_Number}}</th>
                                    <th>{{label.DELIVERY_TAB.Article_Entered}}</th>
                                    <th>{{label.DELIVERY_TAB.Site}}</th>
                                    <th>{{label.DELIVERY_TAB.Actual_Quantity_Delivered}}</th>
                                    <th>{{label.DELIVERY_TAB.Base_Unit_Measure}}</th>
                                    <th>{{label.DELIVERY_TAB.Net_Weight}}</th>
                                    <th>{{label.DELIVERY_TAB.Weight_Unit}}</th>
                                    <th>{{label.DELIVERY_TAB.Volume}}</th>
                                    <th>{{label.DELIVERY_TAB.Volume_Unit}}</th>
                                    <th>{{label.DELIVERY_TAB.Partial_Delivery_Item_Level}}</th>
                                    <th *ngIf="deliveryDetails.Status != 1 && visibaleButton == true && isAddEditPermission">{{label.Action}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of deliveryItemDetail; let i = index">
                                    <td>{{item.DeliveryItem}}</td>
                                    <td>{{item.ArticleNumber}}</td>
                                    <td>{{item.ArticleEntered}}</td>
                                    <td>{{item.Site}}</td>
                                    <td>{{item.ActualQuantityDelivered_in_sales_units_}}</td>
                                    <td>{{item.BaseUnitOfMeasure}}</td>
                                    <td>{{item.NetWeight}}</td>
                                    <td>{{item.WeightUnit}}</td>
                                    <td>{{item.Volume}}</td>
                                    <td>{{item.VolumeUnit}}</td>
                                    <td>{{item.PartialDeliveryAtItemLevel}}</td>
                                    <td *ngIf="deliveryDetails.Status != 1 && visibaleButton == true && isAddEditPermission">
                                        <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="editInquiryItem(item,i)" placement="top" ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </button>
                                        <button style="font-size: 12px;" class="btn btn-danger"
                                            (click)="deleteEnquiryItemDetails(item.SalesInquiryItemID)" placement="top" ngbTooltip="{{label.Delete}}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-record-found" *ngIf="roleArray?.length == 0">
                        {{label.No_Record_Found}}
                    </div>
                </div>
                 <div id="section2" *ngIf="tabsArray.length > 0 && tabsArray[1].isActiveClass">
                    <div class="row add-inquiry-item-button" style="float: right;margin: 0px;">
                        <div  *ngIf="visibaleButton == true && isAddEditPermission">
                            <button (click)="openModal('add-document-items-modal')" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <app-modal-form [modalData]="{'modalId' : 'add-document-items-modal', 'header' : label.AddDocument, 'close': label.Close,
                            size: 'modal-lg', save: 'OK'}" (callFunction)="addDcoumentDetails($event)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Line_Item}}<span class="mandatory">*</span></label>
                                    <ng-multiselect-dropdown name="LineItem" [placeholder]="label.Line_Item" [data]="deliveryItemDetail" [(ngModel)]="invoiceItemSelectedItem" [settings]="invocieItemSetting">
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="inquiryDocumentForm.submitted && invoiceItemSelectedItem.length == 0" class="field-error">
                                        {{label.Line_Item}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Doc_Ref_No}}<span class="mandatory">*</span></label>
                                    <input type="text" [(ngModel)]="documentDetails.DocRefNo" 
                                        class="form-control" placeholder="{{label.Doc_Ref_No}}">
                                    <div *ngIf="inquiryDocumentForm.submitted && !documentDetails.DocRefNo" class="field-error">
                                        {{label.Doc_Ref_No}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Document_Name}}<span class="mandatory">*</span></label>
                                    <input type="text" [(ngModel)]="documentDetails.DocumentName" 
                                        class="form-control" placeholder="{{label.Document_Name}}">
                                     <div *ngIf="inquiryDocumentForm.submitted && !documentDetails.DocumentName" class="field-error">
                                        {{label.Document_Name}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Doc_Type}}<span class="mandatory">*</span></label>
                                    <input type="text" [(ngModel)]="documentDetails.Doctype" 
                                        class="form-control" placeholder="{{label.Doc_Type}}">
                                     <div *ngIf="inquiryDocumentForm.submitted && !documentDetails.Doctype" class="field-error">
                                        {{label.Doc_Type}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.TAB.UploadFile}}<span class="mandatory">*</span></label>
                                    <input type="file" (change)="selectFile($event)" />
                                     <div *ngIf="inquiryDocumentForm.submitted && !selectedFile" class="field-error">
                                        {{label.TAB.UploadFile}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                                 
                            </div>
                        </div>
                    </app-modal-form>
                    <div style="margin-top: 20px;">
                        <table id="asn_gr_details_docs_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{label.Line_Item}}</th>
                                    <th>{{label.Doc_Ref_No}}</th>
                                    <th>{{label.Document_Name}}</th>
                                    <th>{{label.Doc_Type}}</th>
                                    <th>{{label.Action}}</th>
                                    <!-- <th *ngIf="inquiryDetails.Status != 1 && visibaleButton == true">{{label.Action}}</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of invoiceDocumentDetails; let i = index"
                                    [class.selected-row]="item.isChecked">
                                    <td>{{item.LineItem}}</td>
                                    <td>{{item.DocumentRefNo}}</td>
                                    <td>{{item.DocumentName}}</td>
                                    <td>{{item.DocumentType}}</td>
                                    <td><button class="btn btn-info fsize-12" (click)="documentDownload(item.AttachmentName)">
                                            <i class="fa fa-download cursor-pointer"></i>
                                        </button></td>
                                    <!-- <td *ngIf="inquiryDetails.Status != 1 && visibaleButton == true">
                                       <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="editDocumentItem(item,i)" placement="top" ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-record-found" *ngIf="invoiceDocumentDetails?.length == 0">
                        {{label.No_Record_Found}}
                    </div>
                </div>
            </section>
        </div>
    </app-card>
</app-container>