<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span>{{label.INVOICE_PAYMENT_TAB.Invoice}}</span>
    </h4>
</div>
<app-container>
    <app-card
        [headerData]="{'backPath': '/dashboard', 'heading' : label.Back, addButtonToolTip: label.INVOICE_PAYMENT_TAB.Invoice_Details ,'addButtonRoute' : '/invoice-payment/invoice-details', 'headerVisible': headerVisible}">
        <div class="row mt-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FromDate">{{ label.FromDate }}:</label>&nbsp;
                    <input name="FromDate" class="form-control" [(ngModel)]="inquiryFilter.FromDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.FromDate }}" >
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ToDate">{{ label.ToDate }}:</label>&nbsp;
                    <input name="ToDate" class="form-control" [(ngModel)]="inquiryFilter.ToDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.ToDate }}">
                    <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NetValue">{{ label.Keyword }}:</label>&nbsp;
                    <input type="text" name="Keyword" id="Keyword" [(ngModel)]="inquiryFilter.Keyword" 
                        class="form-control" placeholder="{{ label.Keyword }}" #Keyword="ngModel">
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <button (click)="getInvoiceHeaderData()" class="btn btn-success mtop-5">Search</button>&nbsp;
                <button (click)="getInvoiceExportData()" class="btn btn-info mtop-5">Export</button>
            </div>
        </div>
        <div style="margin-top: 20px;" *ngIf="invoiceArray?.length > 0" class="table-responsive">
            <table id="invoice_header_table" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>{{label.INVOICE_PAYMENT_TAB.Billing_Document}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Sold_To_Party}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Payer}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Customer_Purchase_Order_Number}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Sales_Organization}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.SD_Document_Currency}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Payment_Method}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Shipping_Conditions}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Net_Value_Document_Currency}}</th>
                        <th>{{label.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of invoiceArray; let i = index"
                        [class.selected-row]="item.isChecked">
                        <td>{{item.BillingDocument}}</td>
                        <td>{{item.SoldToParty}}</td>
                        <td>{{item.Payer}}</td>
                        <td>{{item.CustomerPurchaseOrderNumber}}</td>
                        <td>{{item.SalesOrganization}}</td>
                        <td>{{item.SDDocumentCurrency}}</td>
                        <td>{{item.PaymentMethod}}</td>
                        <td>{{item.ShippingConditions}}</td>
                        <td>{{item.NetValueinDocumentCurrency}}</td>
                        <td>
                            <button style="font-size: 12px;" class="btn btn-primary" placement="top"
                                ngbTooltip="{{label.More_Details}}" (click)="viewInvoiceDetails(item);">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="no-record-found" *ngIf="invoiceArray?.length == 0">
            {{label.No_Record_Found}}
        </div>
    </app-card>
</app-container>