<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.TAB.Inquiry_Quotation}} / </span>
        <span>{{label.SUB_TAB.Quotation}}</span>
    </h4>
</div>
<app-container>
    <app-card
        [headerData]="{'backPath': '/dashboard', 'heading' : label.Back , addButtonToolTip: label.SUB_TAB.Create_Quotation ,'addButtonRoute' : '/inquiry-quotation-section/quotation-details', 'headerVisible': headerVisible}">
        <div class="row mt-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FromDate">{{ label.FromDate }}:</label>&nbsp;
                    <input name="FromDate" class="form-control" [(ngModel)]="quoteFilter.FromDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.FromDate }}" >
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ToDate">{{ label.ToDate }}:</label>&nbsp;
                    <input name="ToDate" class="form-control" [(ngModel)]="quoteFilter.ToDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.ToDate }}">
                    <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NetValue">{{ label.Keyword }}:</label>&nbsp;
                    <input type="text" name="Keyword" id="Keyword" [(ngModel)]="quoteFilter.Keyword" 
                        class="form-control" placeholder="{{ label.Keyword }}" #Keyword="ngModel">
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <button (click)="getQuoteHeaderData()" class="btn btn-success mtop-5">Search</button>&nbsp;
                <button (click)="getQuoteExportData()" class="btn btn-info mtop-5">Export</button>
            </div>
        </div>
        <div style="margin-top: 20px;" *ngIf="quoteArray?.length > 0" class="table-responsive">
            <table id="quotation_header_table" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>{{label.Sold_To_Party}}</th>
                        <th>{{label.Ship_to_Party}}</th>
                        <th>{{label.Created_by}}</th>
                        <th>{{label.Created_on}}</th>
                        <th>{{label.Valid_from}}</th>
                        <th>{{label.Document_Dat}}</th>
                        <th>{{label.Net_value}}</th>
                        <th>{{label.SD_Doc_Currency}}</th>
                        <th>{{label.Valid_to}}</th>
                        <th>{{label.Requested_Deliver}}</th>
                        <th>{{label.Sales_Document}}</th>
                        <th>{{label.Sales_Organization}}</th>
                        <th>{{label.Distribution_Channel}}</th>
                        <th>{{label.Division}}</th>
                        <th>{{label.Status}}</th>
                        <th>{{label.Action}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inquiry of quoteArray; let i = index"
                        [class.selected-row]="inquiry.isChecked">
                        <td>{{inquiry.SoldToParty}}</td>
                        <td>{{inquiry.ShipToParty}}</td>
                        <td>{{inquiry.CreatedBy}}</td>
                        <!-- <td>{{inquiry.fieldname | date : 'dd-MMM-yyyy h:mm'}}</td> -->
                        <td>{{inquiry.CreatedDate}}</td>
                        <td>{{inquiry.ValidFrom | date}}</td>
                        <td>{{inquiry.DocumentDate | date}}</td>
                        <td>{{inquiry.NetValue}}</td>
                        <td>{{inquiry.DocumentCurrency}}</td>
                        <td>{{inquiry.ValidTo | date}}</td>
                        <td>{{inquiry.RequestedDeliveryDate | date}}</td>
                        <td>{{inquiry.DocumentNo}}</td>
                        <td>{{inquiry.SalesOrganization}}</td>
                        <td>{{inquiry.DistributionChannel}}</td>
                        <td>{{inquiry.Division}}</td>
                        <td>{{inquiry.StatusToDisplay}}</td>
                        <td>
                            <button style="font-size: 12px;" class="btn btn-primary" placement="top"
                                ngbTooltip="{{label.More_Details}}" (click)="viewInquiryDetails(inquiry);">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="no-record-found" *ngIf="quoteArray?.length == 0">
            {{label.No_Record_Found}}
        </div>
    </app-card>
</app-container>