section .section-title {
    text-align: center;
    // color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs h6.section-title {
    color: #eee;
}

#labelNoPermission{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0CE !important;
    background-color: transparent;
    border-color: transparent transparent #0CE !important;
    border-bottom: 4px solid !important;
    font-size: 19px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: grey;
    font-size: 19px;
}

.my-card {
    position: absolute;
    // left: 37%;
    left: 40%;
    top: -20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #007bff transparent;
}

.shadow-lg {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5) !important;
    background: #62c4e554;
    color: white;
}

.info-cards:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
}

.dashboard-background{
    background: url('~/assets/images/customer-portal-background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-heading{
    color: rgb(255, 255, 255);
}

.tile{
    border-radius: 5px;
    border: 1px solid #52a3b9;
    padding: 1rem;
    
    .tile-name{
        color: #006e4d;
    }
    
    .tile-data{
        text-align: right;
        margin-top: 5px;
    }
    
    .tile-icon{
        color: #006e4d;
        font-size: 30px;
    }
    
    .tile-count{
        color: rgb(71, 71, 71);
        margin-left: 10px;
    }
    
    .tile-text{
        color: rgb(83, 83, 83);
        font-size: 14px;
    }
}

