<div class="menu-background">
    <h4>{{label.Dashboard}}</h4>
</div>
<app-container *ngIf="label" [userData]="userDetails">
    <!-- <drag-scroll class="profile-navbar"> -->
    <section id="tabs">
        <div class="col-xs-12">
                <nav *ngIf="tabsArray?.length > 0" class="sub-nav">
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="cursor: pointer;">
                        <ng-container *ngFor="let tabDetails of tabsArray;let i=index;">
                            <a *ngIf="tabDetails.isAccessible" href="#section{{i+1}}" [ngClass]="tabDetails.activeTab"
                                class="nav-item nav-link" (click)="onChangeTab(tabDetails);">{{tabDetails.name}}</a>
                        </ng-container>

                    </div>
                </nav>
        </div>
    </section>
    <!-- </drag-scroll> -->
    <perfect-scrollbar style="max-height: 500px;">
        <div class="dashboard-background">
            <h5 id="labelNoPermission" class="text-center font-weight-bold">
                {{label.No_Permissions_Message}}</h5>
            <div *ngFor="let tabDetails of tabsArray;let i=index;" id="section{{i+1}}">
                <ng-container *ngIf="tabDetails.isAccessible">
                    <div class="container-fluid" style="padding-top:20px;">
                        <h3 class="section-heading">{{tabDetails.name}}</h3>
                        <div class="row">
                            <div style="margin-top: 30px;" *ngFor="let item of tabDetails.cardsArray;"
                                [ngClass]="{'col-lg-2 col-md-4 col-sm-6 col-xs-6' : item.isAccessible == true}" (click)="onClickTile(i+1, tabDetails.id, item.url, item.type)">
                                <div *ngIf="item.isAccessible" class="card info-cards tile">
                                    <div>
                                        <h4 class="tile-name">{{item.name}}</h4>
                                    </div>
                                    <div class="tile-data">
                                        <h1>
                                            <span class="tile-icon"><i class="{{item.icon}}"></i></span>
                                            <span class="tile-count">{{item.count}}</span>
                                        </h1>
                                        <span class="tile-text"> {{item.text}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container><br>
            </div>
        </div>
    </perfect-scrollbar>
     <app-modal-form [modalData]="{'modalId' : 'user-messages', 'header' : label.Messages, 'close': '',
                            size: 'modal-lg', save: label.Close, saveClass: 'btn btn-default', closeTimer: 'true'}" (callFunction)="closeMessages($event)">
        <div class="row">
            <div class="col-lg-7 col-xl-7">
                <div class="user-message" role="alert" aria-live="assertive" aria-atomic="true" *ngFor="let item of privateMessages">
                  <div class="toast-body">
                    <i class="fa fa-circle"></i>&nbsp; {{item}}.
                  </div>
                </div>
            </div>
        </div>
    </app-modal-form>
</app-container>