<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span>{{label.QUIZE_TAB.Quize_Result}}</span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': 'quize-section/quize-result', 'heading' : label.Back, 'headerVisible': 'true'}">
        <div style="margin-top: 20px;">
        	<div class="col-md-8 mt-20" *ngFor="let item of quizeQuestions;let i of index">
        		<h6>{{item.currentIndex}}) {{item.Question}}</h6>
        		<div *ngIf="item.QuestionType == 'input'">
        			<input class="form-control" type="text" name="quize_answer" [(ngModel)]="quizeDetails[item['Question_ID']]">
        		</div>
        		<div *ngIf="item.QuestionType == 'textarea'">
        			<textarea  class="form-control"  [(ngModel)]="quizeDetails[item['Question_ID']]"></textarea>
        		</div>
        		<div *ngIf="item.QuestionType == 'radio'">
        			<div class="col-md-4" *ngFor="let opt of item.QuestionOptionArr">
    					<input  [(ngModel)]="quizeDetails[item['Question_ID']]" type="radio" name="quize_{{item['Question_ID']}}" value="{{opt}}"> {{opt}}
    				</div>
        		</div>
        		<div *ngIf="item.QuestionType == 'checkbox'">
    				<div class="col-md-4" *ngFor="let opt of item.QuestionOptionArr;let j of index">
                        <input type="checkbox" name="quize_{{item['Question_ID']}}_{{opt}}"  id="quize_{{1}}_{{opt}}" value="{{opt}}" (change)="onChangeCheckBoxEvent($event, item.Question_ID, opt)">
    					{{opt}}
    				</div>
        		</div>
        	</div>
        	<div class="col-md-12 mt-20">
        		<button class="btn btn-success" (click)="submitQuizeAnswer()">Submit</button>
        	</div>
        </div>
    </app-card>
</app-container>