<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.TAB.Admin_Section}} / </span>
        <span>{{label.SUB_TAB.User_Managemnet}}</span>
    </h4>
</div>
<app-container>
    <app-card [headerVisible]="true"
        [headerData]="{'backPath': '/dashboard', 'heading' : label.SUB_TAB.Users}" >
        <br />
        <section id="tabs">
            <div class="col-xs-12">
                <nav class="sub-nav">
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="cursor: pointer;">
                        <ng-container *ngFor="let tab of tabsArray">
                            <a class="nav-item nav-link" [ngClass]="tab.isActiveClass" (click)="onChangeTab(tab);">{{tab.name}}</a>
                        </ng-container>
                    </div>
                </nav>
            </div>
            <div id="section1" *ngIf="tabsArray[0].isActiveClass">
                <div style="margin-top: 20px;">
                    <div class="row">
                        <div style="float: right;right: 1rem;position: absolute;">
                            <button [disabled]="isFormInAddMode" (click)="adduser()" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <hr style="margin-top: 50px;">

                    <table id="asn_gr_line_table" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions"  *ngIf="usersArray?.length > 0">
                        <thead>
                            <tr>
                                <!-- <th>
                                    <div class="checkbox">
                                        <label><input type="checkbox" (click)="onSelectAll(isSelectAll)"></label>
                                    </div>
                                </th> -->
                               <!-- <th>{{label.TABLE.Purchase_Order}}</th> -->
                                <th>{{label.TABLE.User_ID}}</th>
                                <th>{{label.TABLE.First_Name}}</th>
                                <th>{{label.TABLE.Last_Name}}</th>
                                <th>{{label.TABLE.Username}}</th>
                                <th>{{label.TABLE.Email}}</th>
                                <th>{{label.TABLE.Created_By}}</th>
                                <th>{{label.TABLE.Created_On}}</th>
                                <th>{{label.TABLE.Status}}</th>
                                <th>{{label.TABLE.Active}}</th>
                                <th width="30px">{{label.TABLE.ISCustomerPortal}}</th>
                                <th>{{label.TABLE.Action}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usersArray; let i = index"  [class.selected-row]="user.isChecked"> <!-- (click)="onSelectRow(i)" ---->
                                <!-- <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" *ngIf="!user.isChecked"></label>
                                        <label><input type="checkbox" *ngIf="user.isChecked" checked></label>
                                    </div>
                                </td> -->
                                <!-- <td>{{user.PO_ItemID}}</td> -->
                                    <td>{{user.Id}}</td>
                                    <td>{{user.FirstName}}</td>
                                    <td>{{user.LastName}}</td>
                                    <td>{{user.Username}}</td>
                                    <td>{{user.Email}}</td>
                                    <td>{{user.CreatedBy}}</td>
                                    <td>{{user.CreatedDate | date}}</td>
                                    <td>{{user.StatusToDisplay}}</td>
                                    <td class="text-center">
                                        <input [disabled]="true" type="checkbox"
                                            [(ngModel)]='user.IsActive'>
                                    </td>
                                     <td class="text-center">
                                        <input [disabled]="true" type="checkbox"
                                            [(ngModel)]='user.IsCustomerPortalAccess'>
                                    </td>
                                    <td>
                                        <button style="font-size: 12px;" class="btn btn-success"
                                                (click)="viewUserDetails(user)" placement="top"
                                                ngbTooltip="{{label.Edit}}">
                                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </button> &nbsp;
                                        <button style="font-size: 12px;" class="btn btn-danger" placement="top"
                                            ngbTooltip="{{label.Delete}}" (click)="onDeleteUser(user);">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no-record-found" *ngIf="usersArray?.length == 0">
                    {{label.No_Record_Found}}
                </div>
            </div>
            <div id="section2" *ngIf="tabsArray[1].isActiveClass">
                <div style="margin-top: 20px;" *ngIf="roleArray.length>0">
                    <div class="row">
                        <div style="float: right;right: 1rem;position: absolute;">
                            <button [disabled]="isFormInAddMode" (click)="openModal('add-role-modal', null)" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <hr style="margin-top: 50px;">
                    <app-modal-form [modalData]="{'modalId' : 'add-role-modal', 'header' : !roleDetails.Id ? label.Add_Role : label.Edit_Role, 'close': label.Close,
                    size: 'modal-lg', save: 'OK'}" (callFunction)="onClickOK($event)">
                        <h6><b>{{label.TABLE.Role_Details}}</b></h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-6" *ngIf="roleDetails.Id">
                                <div class="form-group">
                                    <label>{{ label.TABLE.Role_ID }}:</label>&nbsp;
                                    <input type="text" [(ngModel)]="roleDetails.Id" readonly class="form-control" placeholder="Input" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.TABLE.Role_Name }}:</label>&nbsp;
                                    <input type="text" [(ngModel)]="roleDetails.RoleName" class="form-control" placeholder="Input" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>{{ label.TABLE.Role_Desc }}:</label>
                                <input type="text" [(ngModel)]="roleDetails.Description" class="form-control" placeholder="Input" required>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.TABLE.Role_Type }}:</label>
                                    <select class="form-control" id="RoleTypeID" name="RoleTypeID" [(ngModel)]="roleDetails.RoleTypeID" required #CurrencyPreference="ngModel" required>
                                        <option *ngFor="let role of RoleTypeArray" value="{{role.value}}">{{role.type}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.TABLE.Approval_Level }}: </label>
                                    <select class="form-control" id="ApprovalLevel" name="ApprovalLevel" [(ngModel)]="roleDetails.ApprovalLevel" required #CurrencyPreference="ngModel" required>
                                            <option *ngFor="let level of approvalLevelArray" value="{{level}}">{{level}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-check-label" for="isActive">{{ label.ISCustomerPortal }}</label>
                                </div>
                                <div class="form-check-inline">
                                    <input style="width: 15px; height: 15px;" type="checkbox" class="form-check-input" name="IsCustomerPortal" [(ngModel)]="roleDetails.IsCustomerPortal" id="IsCustomerPortal" [checked]="roleDetails.IsCustomerPortal" [disabled]="true">
                                </div>
                            </div>
                        </div>
                    </app-modal-form>
                    <table id="asn_gr_details_docs_table" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <!-- <th>
                                    <div class="checkbox">
                                        <label><input type="checkbox" (click)="onSelectAll(isSelectAll)"></label>
                                    </div>
                                </th> -->
                                <th>{{label.TABLE.Role_ID}}</th>
                                <th>{{label.TABLE.Role_Name}}</th>
                                <th>{{label.TABLE.Role_Desc}}</th>
                                <th>{{label.TABLE.Role_Type}}</th>
                                <th>{{label.TABLE.Role_Level}}</th>
                                <th width="30px">{{label.TABLE.ISCustomerPortal}}</th>
                                <th>{{label.TABLE.Action}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of roleArray; let i = index">
                                <!-- <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" *ngIf="!role.isChecked"></label>
                                        <label><input type="checkbox" *ngIf="role.isChecked" checked></label>
                                    </div>
                                </td> -->
                                <td>{{role.Id}}</td>
                                <td>{{role.RoleName}}</td>
                                <td>{{role.Description}}</td>
                                <td>{{getRoleType(role.RoleTypeID)}}</td>
                                <td>{{role.ApprovalLevel}}</td>
                                 <td class="text-center">
                                        <input [disabled]="true" type="checkbox"
                                            [(ngModel)]='role.IsCustomerPortal'>
                                    </td>
                                <td>
                                    <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="openModal('add-role-modal', role)" placement="top"
                                            ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                    </button> &nbsp;
                                    <button style="font-size: 12px;" class="btn btn-danger" placement="top"
                                            ngbTooltip="{{label.Delete}}" (click)="onDeleteRole(role);">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no-record-found" *ngIf="roleArray?.length == 0">
                    {{label.No_Record_Found}}
                </div>
            </div>
        </section>
    </app-card>
</app-container>