.asn-details {
    background: #d3d3d373;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;

    .asn-label {
        font-size: 13px;
    }
}

#tabs h6.section-title {
    color: #eee;
}

#labelNoPermission {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0CE !important;
    background-color: transparent;
    border-color: transparent transparent #0CE !important;
    border-bottom: 4px solid !important;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: grey;
    font-size: 19px;
}
.checkbox {
    height: 22px;
}
button {
    margin-left: 10px;
}
.button-position {
    float: right;
}
