<div class="menu-background" *ngIf="userDetails">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.TAB.Admin_Section}} / </span>
        <span [routerLink]="[userDetails.from]">{{userDetails.tab}} / </span>
        <span>{{label.TAB.User_Details}} </span>
    </h4>
</div>
<app-container>
    <app-card [headerVisible]="true"
        [headerData]="{'backPath': userDetails.from, 'heading' : label.TAB.User_Details}">
        <div style="margin-top: 20px;">
            <div class="asn-details">
                <form #addUserForm="ngForm" id="addUserForm" name="addUserForm" style="margin-top:
                    15px;">
                    <fieldset [disabled]="!isEdit.userDetailsEditModeEnable">
                        <div class="row">
                            <div class="col-md-4" *ngIf="addUserData.Id">
                                <div class="form-group">
                                    <label for="Id">{{ label.TABLE.User_ID }}:</label>&nbsp;
                                    <!-- <label>{{itemsDetails.asnLineNo}}</label> -->
                                    <input type="text" name="Id" id="Id" [(ngModel)]="userDetails.Id" readonly class="form-control" placeholder="Input" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="FirstName">{{ label.TABLE.First_Name }} <span class="mandatory"> *</span></label>
                                    <input type="input" class="form-control" id="FirstName" name="FirstName"
                                        [(ngModel)]="addUserData.FirstName" placeholder="Input" #FirstName="ngModel" required>

                                    <div *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)" class="field-error">
                                        <div *ngIf="FirstName.errors.required">User Name {{label.is_required}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="LastName">{{ label.TABLE.Last_Name }} <span class="mandatory"> *</span></label>
                                    <input type="input" class="form-control" id="LastName" name="LastName"
                                        [(ngModel)]="addUserData.LastName" placeholder="Input" #LastName="ngModel" required>

                                    <div *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)" class="field-error">
                                        <div *ngIf="LastName.errors.required">{{ label.TABLE.Last_Name }} {{label.is_required}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">{{ label.TABLE.Username }} <span class="mandatory"> *</span></label>
                                    <input type="input" class="form-control" id="Name" name="Name"
                                        [(ngModel)]="addUserData.Username" placeholder="Input" #Name="ngModel" required>

                                    <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="field-error">
                                        <div *ngIf="Name.errors.required">{{ label.TABLE.Username }} {{label.is_required}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="userDetails.Id">
                                <div class="form-group">
                                    <label for="Password">{{ label.TABLE.Password }} <span class="mandatory"> *</span></label>
                                    <input type="password" class="form-control" id="Password" name="Password"
                                        [(ngModel)]="addUserData.Password" placeholder="Input" #Password="ngModel" required>

                                    <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="field-error">
                                        <div *ngIf="Password.errors.required">{{ label.TABLE.Password }} {{label.is_required}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Email">{{ label.TABLE.Email }} <span class="mandatory">
                                            *</span></label>
                                    <input type="email" class="form-control" id="Email" name="Email"
                                        [(ngModel)]="addUserData.Email" placeholder="Input" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" #Email="ngModel" required>

                                    <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="field-error">
                                        <div *ngIf="Email.errors.required">{{ label.TABLE.Email }} {{label.is_required}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Email">{{ label.TABLE.RoleType }} <span class="mandatory">
                                            *</span></label>
                                    <select class="form-control" id="RoleTypeID" name="RoleTypeID" [(ngModel)]="roleDetails.RoleTypeID" 
                                    required #RoleTypeID="ngModel" required (change)="onRoleTypeChange()">
                                        <option  *ngFor="let role of RoleTypeArray" value="{{role.value}}">{{role.type}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Remark">{{ label.TABLE.Remarks }}</label>
                                    <textarea class="form-control" id="Remark" name="Remark" [(ngModel)]="addUserData.Remark"
                                    placeholder="Input"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-check-label" for="isActive">{{ label.TABLE.Active }}</label>
                                </div>
                                <div class="form-check-inline">
                                    <input style="width: 25px; height: 25px;" type="checkbox" class="form-check-input" name="IsActive" [(ngModel)]="addUserData.IsActive" id="isActive" [checked]="addUserData.IsActive">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-check-label" for="isActive">{{ label.ISCustomerPortal }}</label>
                                </div>
                                <div class="form-check-inline">
                                    <input style="width: 25px; height: 25px;" type="checkbox" class="form-check-input" name="IsCustomerPortalAccess" [(ngModel)]="addUserData.IsCustomerPortalAccess" id="IsCustomerPortalAccess" [checked]="addUserData.IsCustomerPortalAccess" [disabled]="isCustomerPortalDisabled">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button *ngIf="showApproveBttn" style="font-size: 12px;float: right;" 
                                class="btn btn-success" (click)="onClickApproved()" placement="top" 
                                ngbTooltip="{{label.Approve}}"><i class="fa fa-check-square" aria-hidden="true"></i>
                            </button>     
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="row">
                <div class="col">
                    <button [disabled]="addUserForm.invalid  || !isRolesSelected" *ngIf="isEdit.userDetailsEditModeEnable" (click)="saveFormDetails('addUserForm', addUserForm)" class="btn btn-success float-right">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <button *ngIf="!isEdit.userDetailsEditModeEnable" (click)="enableForm('addUserForm')" class="btn btn-success float-right">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <section id="tabs">
                <div class="col-xs-12">
                    <nav class="sub-nav">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="cursor: pointer;">
                            <ng-container *ngFor="let tab of tabsArray">
                                <a class="nav-item nav-link" [ngClass]="tab.isActiveClass"
                                    (click)="onChangeTab(tab);">{{tab.name}}</a>
                            </ng-container>
                        </div>
                    </nav>
                </div>
                <div id="section1">
                    <div style="margin-top: 20px;">
                        <table id="asn_gr_details_docs_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{label.TABLE.Role_ID}}</th>
                                    <th>{{label.TABLE.Role_Name}}</th>
                                    <th>{{label.TABLE.Role_Type}}</th>
                                    <th>{{label.TABLE.Role_Level}}</th>
                                    <th>{{label.TABLE.Action}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let role of roleArray; let i = index"
                                    [class.selected-row]="role.isChecked">
                                    <td>{{role.Id}}</td>
                                    <td>{{role.RoleName}}</td>
                                    <td>{{role.RoleTypeDesc}}</td>
                                    <td>{{role.ApprovalLevel}}</td>
                                    <td>
                                        <div class="checkbox">
                                            <label><input [disabled]="!isEdit.userDetailsEditModeEnable" type="checkbox" *ngIf="!role.isChecked"  (change)="onSelectRow(i)"></label>
                                            <label><input [disabled]="!isEdit.userDetailsEditModeEnable" type="checkbox" *ngIf="role.isChecked" (change)="onSelectRow(i)"  checked></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-record-found" *ngIf="roleArray?.length == 0">
                        {{label.No_Record_Found}}
                    </div>
                </div>
            </section>
        </div>
    </app-card>
</app-container>