<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.Dashboard}} / </span>
        <span>{{label.INVOICE_PAYMENT_TAB.Payment}}</span>
    </h4>
</div>
<app-container>
    <app-card
        [headerData]="{'backPath': '/dashboard', 'heading' : label.Back, addButtonToolTip: label.INVOICE_PAYMENT_TAB.Payment_Details ,'addButtonRoute' : '/invoice-payment/payment-details', 'headerVisible': headerVisible}">
        <div class="row mt-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FromDate">{{ label.FromDate }}:</label>&nbsp;
                    <input name="FromDate" class="form-control" [(ngModel)]="paymentFilter.FromDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.FromDate }}" >
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ToDate">{{ label.ToDate }}:</label>&nbsp;
                    <input name="ToDate" class="form-control" [(ngModel)]="paymentFilter.ToDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.ToDate }}">
                    <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NetValue">{{ label.Keyword }}:</label>&nbsp;
                    <input type="text" name="Keyword" id="Keyword" [(ngModel)]="paymentFilter.Keyword" 
                        class="form-control" placeholder="{{ label.Keyword }}" #Keyword="ngModel">
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <button (click)="getPaymentHeaderData()" class="btn btn-success mtop-5">Search</button>&nbsp;
                <button (click)="getPaymentExportData()" class="btn btn-info mtop-5">Export</button>
            </div>
        </div>
        <div style="margin-top: 20px;" *ngIf="paymentArray?.length > 0" class="table-responsive">
            <table id="invoice_header_table" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>{{label.INVOICE_PAYMENT_TAB.Amount}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.BankAccount}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.City}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Client}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.CompanyCode}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Currency}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.CustomerAccount}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.CustomerAccountType}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.CustomerGSTIN}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.CustomerName}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.CustomerNo}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.CustomerPAN}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.DocumentDate}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.DocumentNo}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.DocumentType}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.DueDateStatus}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.FiscalYear}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.InsertedDateTime}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.ItemNo}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.LocalCurrency}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Period}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.PostDate}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.PostingKey}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Status}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.Text}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.UniversalClientID}}</th>
                        <th>{{label.INVOICE_PAYMENT_TAB.ValueDate}}</th>
                        <!-- <th>{{label.Action}}</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of paymentArray; let i = index"
                        [class.selected-row]="item.isChecked">
                        <td>{{item.Amount}}</td>
                        <td>{{item.BankAccount}}</td>
                        <td>{{item.City}}</td>
                        <td>{{item.Client}}</td>
                        <td>{{item.CompanyCode}}</td>
                        <td>{{item.Currency}}</td>
                        <td>{{item.CustomerAccount}}</td>
                        <td>{{item.CustomerAccountType}}</td>
                        <td>{{item.CustomerGSTIN}}</td>

                        <td>{{item.CustomerName}}</td>
                        <td>{{item.CustomerNo}}</td>
                        <td>{{item.CustomerPAN}}</td>
                        <td>{{item.DocumentDate}}</td>
                        <td>{{item.DocumentNo}}</td>
                        <td>{{item.DocumentType}}</td>
                        <td>{{item.DueDateStatus}}</td>
                        <td>{{item.FiscalYear}}</td>
                        <td>{{item.InsertedDateTime}}</td>

                        <td>{{item.ItemNo}}</td>
                        <td>{{item.LocalCurrency}}</td>
                        <td>{{item.Period}}</td>
                        <td>{{item.PostDate}}</td>
                        <td>{{item.PostingKey}}</td>
                        <td>{{item.Status}}</td>
                        <td>{{item.Text}}</td>
                        <td>{{item.UniversalClientID}}</td>

                        <td>{{item.ValueDate}}</td>
                        <!-- <td>
                            <button style="font-size: 12px;" class="btn btn-primary" placement="top"
                                ngbTooltip="{{label.More_Details}}" (click)="viewInvoiceDetails(item);">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>&nbsp;
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="no-record-found" *ngIf="paymentArray?.length == 0">
            {{label.No_Record_Found}}
        </div>
    </app-card>
</app-container>