<div class="menu-background" *ngIf="inquiryDetails">
    <h4>
        <span [routerLink]="['/inquiry-quotation-section/quotation']">{{label.TAB.Quotation}} / </span>
        <span [routerLink]="[inquiryDetails.from]">{{inquiryDetails.tab}} </span>
        <span>{{label.TAB.Quotation_Details}} </span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': inquiryDetails.from, 'heading' : inquiryDetailsLabel, 'headerVisible': 'true'}">
        <angular2csv *ngIf="editQuoteId" [data]="quoteExportData" filename="order-details" [options]="options">Export</angular2csv>
        <div style="margin-top: 20px;">
            <div class="asn-details">
                <form #addInquiryForm="ngForm" id="addInquiryForm" name="addInquiryForm" style="margin-top:
                    15px;">
                    <fieldset >
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SoldToParty">{{ label.Sold_To_Party }}:</label>&nbsp;
                                    <ng-multiselect-dropdown name="SoldToParty" [placeholder]="label.Sold_To_Party" [data]="soldToPartyList" [(ngModel)]="selectedSoldToPartyItems" [settings]="dropdownSoldToPartySettings" (onSelect)="selectSoldToParty($event)" (onDeSelect)="deSelectSoldToParty()" [disabled]="viewModeField">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ShipToParty">{{ label.Ship_to_Party }}:</label>&nbsp;
                                   
                                    <ng-multiselect-dropdown name="ShipToParty" [placeholder]="label.Ship_to_Party" [data]="shipToPartyList" [(ngModel)]="selectedShipToPartyItems" [settings]="dropdownShipToPartySettings" (onSelect)="selectShipToParty($event)" [disabled]="viewModeField">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SalesOrganization">{{ label.Sales_Organization }}:</label>&nbsp;
                                    <ng-multiselect-dropdown name="SalesOrganization" [placeholder]="label.Sales_Organization" [data]="salesOrganizationList" [(ngModel)]="selectedSalesOrgItem" [settings]="salesOrgSetting" (onSelect)="selectSalesOrg($event)" (onDeSelect)="deSelectSalesOrg($event)" [disabled]="viewModeField">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DistributionChannel">{{ label.Distribution_Channel }}:</label>&nbsp;
                                    <input name="DistributionChannel" class="form-control" [(ngModel)]="inquiryDetails.DistributionChannel"  placeholder="{{ label.Distribution_Channel }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Division">{{ label.Division }}:</label>&nbsp;
                                     <input name="Division" class="form-control" [(ngModel)]="inquiryDetails.Division"  placeholder="{{ label.Division }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="editQuoteId">
                                <div class="form-group">
                                    <label for="CreatedBy">{{ label.Created_by }}:</label>&nbsp;
                                    <input type="text" name="CreatedBy" id="CreatedBy" [(ngModel)]="inquiryDetails.CreatedBy" 
                                        class="form-control" placeholder="{{ label.Created_by }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="CreatedDate">{{ label.Created_on }}:</label>&nbsp;
                                    <input name="CreatedDate" class="form-control" [(ngModel)]="inquiryDetails.CreatedDate" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" placeholder="{{ label.Created_on }}" [disabled]="true">
                                    <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ValidFrom">{{ label.Valid_from }}:</label>&nbsp;
                                    <input name="ValidFrom" class="form-control" [(ngModel)]="inquiryDetails.ValidFrom" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.Valid_from }}" [readonly]="viewModeField" [max]="inquiryDetails.ValidTo"  [disabled]="viewModeField">
                                    <owl-date-time #dt1 [pickerType]="'calendar'"  [disabled]="viewModeField"></owl-date-time>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ValidTo">{{ label.Valid_to }}:</label>&nbsp;
                                    <input name="ValidTo" class="form-control" [(ngModel)]="inquiryDetails.ValidTo" [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" placeholder="{{ label.Valid_to }}" [readonly]="viewModeField" [min]="inquiryDetails.ValidFrom"  [disabled]="viewModeField">
                                    <owl-date-time #dt4 [pickerType]="'calendar'"  [disabled]="viewModeField"></owl-date-time>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DocumentDate">{{ label.Document_Dat }}:</label>&nbsp;
                                    <input class="form-control" name="DocumentDate" [(ngModel)]="inquiryDetails.DocumentDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.Document_Dat }}" [readonly]="viewModeField"  [disabled]="viewModeField">
                                    <owl-date-time #dt2 [pickerType]="'calendar'"  [disabled]="viewModeField"></owl-date-time>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="NetValue">{{ label.Net_value }}:</label>&nbsp;
                                    <input type="text" name="NetValue" id="NetValue" [(ngModel)]="inquiryDetails.NetValue" 
                                        class="form-control" placeholder="{{ label.Net_value }}" (keydown)="setNetValue($event)" [readonly]="viewModeField">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SDDocumentCurrency">{{ label.SD_Doc_Currency }}:</label>&nbsp;
                                    
                                    <ng-multiselect-dropdown name="SDDocumentCurrency" [placeholder]="label.SD_Doc_Currency" [data]="sdDocCurrencyList" [(ngModel)]="selectedSdDocCurrencyItems" [settings]="dropdownSdDocCurrencySettings" [disabled]="true">
                                    </ng-multiselect-dropdown>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="RequestedDeliveryDate">{{ label.Requested_Deliver }}:</label>&nbsp;
                                   
                                    <input name="RequestedDeliveryDate" class="form-control" [(ngModel)]="inquiryDetails.RequestedDeliveryDate" [owlDateTime]="dt5" [owlDateTimeTrigger]="dt5" placeholder="{{ label.Requested_Deliver }}" [disabled]="viewModeField">
                                    <owl-date-time #dt5 [pickerType]="'calendar'"  [disabled]="viewModeField"></owl-date-time>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="editQuoteId">
                                <div class="form-group">
                                    <label for="DocumentNo">{{ label.Sales_Document }}:</label>&nbsp;
                                    <input type="text" name="DocumentNo" id="DocumentNo" [(ngModel)]="inquiryDetails.DocumentNo" 
                                        class="form-control" placeholder="{{ label.Sales_Document }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Status">{{ label.Status }}:</label>&nbsp;
                                   <ng-multiselect-dropdown name="status" [placeholder]="'Select Status'" [data]="dropdownStatusList" [(ngModel)]="selectedStatusItems" [settings]="dropdownSettingsStatus" (onSelectAll)="onSelectAll($event)" [disabled]="true">
                                        </ng-multiselect-dropdown>
                                </div>
                            </div> 

                            <div class="col-md-12">
                                <button *ngIf="showApproveBttn && isAddEditPermission" style="font-size: 12px;float: right;"
                                    class="btn btn-success" (click)="onClickApproved()" placement="top"
                                    ngbTooltip="{{label.Approve}}"><i class="fa fa-check-square" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row" *ngIf="formSaveErrorMsg">
                        <div class="col-md-12 error-msg">
                            {{formSaveErrorMsg}}
                        </div>
                    </div>
                    <div class="row" *ngIf="inquiryDetails.Status != 1 && visibaleButton == true && isAddEditPermission">
                        <div class="col-md-12">
                            <button *ngIf="!viewModeField" class="btn btn-info" type="submit" (click)="saveEnquiryDetails()">Save</button>
                            <button *ngIf="!viewModeField"  class="btn btn-secondary" type="button" (click)="cancelEnquiryDetails()">Cancel</button>
                            <button *ngIf="editQuoteId" class="btn btn-danger" (click)="deleteEnquiryHeaderDetails()" type="button">Delete</button>
                            <button *ngIf="editQuoteId && invoiceItemDetails.length > 0" class="btn btn-success" (click)="submitEnquiryDetails()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" *ngIf="isAddEditPermission">
                <div class="col">
                    <button [disabled]="(addInquiryForm.invalid  || !isRolesSelected) && inquiryDetails.Status != 1 && visibaleButton == true"
                        *ngIf="isEdit.inquiryDetailsEditModeEnable"
                        (click)="saveFormDetails('addInquiryForm', addInquiryForm)" class="btn btn-success float-right">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <button *ngIf="editQuoteId && inquiryDetails.Status != 1 && visibaleButton == true" (click)="enableForm('addInquiryForm')"
                        class="btn btn-success float-right">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <section id="tabs">
                <div class="col-xs-12">
                    <nav class="sub-nav">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="cursor: pointer;">
                            <ng-container *ngFor="let tab of tabsArray">
                                <a class="nav-item nav-link" [ngClass]="tab.isActiveClass"
                                    (click)="onChangeTab(tab);">{{tab.name}}</a>
                            </ng-container>
                        </div>
                    </nav>
                </div>
                <div id="section1" *ngIf="tabsArray.length > 0 && tabsArray[0].isActiveClass">
                    <div class="row add-inquiry-item-button">
                        <div *ngIf="editQuoteId && inquiryDetails.Status != 1 && visibaleButton == true && isAddEditPermission">
                            <button (click)="openModal('add-inquiry-items-modal')" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <app-modal-form [modalData]="{'modalId' : 'add-inquiry-items-modal', 'header' : label.AddItem, 'close': label.Cancel,
                            size: 'modal-lg', save: label.Save}" (callFunction)="addInquiryItem($event)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Sales_Document_Item }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.Item" 
                                        class="form-control" placeholder="{{ label.Sales_Document_Item }}" [readonly]="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Material_Number }}</label>
                                    <ng-multiselect-dropdown name="MaterialNo" [placeholder]="label.Material_Number" [data]="materilMasterList" [(ngModel)]="materialMasterSelectItem" [settings]="materialMasterSetting" (onSelect)="selectMaterialItem($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Description }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.ShortText" class="form-control"
                                        placeholder="{{ label.Description }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Net_Value_Of_Item_Currency }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.NetValue"
                                        class="form-control" placeholder="{{ label.Net_Value_Of_Item_Currency }}" (keydown)="numericValue($event)">
                                </div>
                            </div>

                           <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Order_Quantity }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.OrderQuantity" class="form-control"
                                        placeholder="{{ label.Order_Quantity }}" (keydown)="numericValue($event)">
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Net_Weight_of_the_Item }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.NetWeight" class="form-control"
                                        placeholder="{{ label.Net_Weight_of_the_Item }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ label.Weight_Unit }}</label>
                                    <input type="text" [(ngModel)]="itemsDetails.WeightUnit" class="form-control"
                                        placeholder="{{ label.Weight_Unit }}">
                                </div>
                            </div> -->
                        </div>
                    </app-modal-form>
                    <div style="margin-top: 20px;">
                        <table id="asn_gr_details_docs_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{label.Sales_Document_Item}}</th>
                                    <th>{{label.Material_Number}}</th>
                                    <th>{{label.Description}}</th>
                                    <th>{{label.Net_Value_Of_Item_Currency}}</th>
                                    <th>{{label.Order_Quantity}}</th>
                                    <!-- <th>{{label.Net_Weight_of_the_Item}}</th>
                                    <th>{{label.Weight_Unit}}</th> -->
                                    <th *ngIf="inquiryDetails.Status != 1 && visibaleButton == true">{{label.Action}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of invoiceItemDetails; let i = index">
                                    <td>{{item.Item}}</td>
                                    <td>{{item.Material}}</td>
                                    <td>{{item.Description}}</td>
                                    <td>{{item.Net_Value}}</td>
                                    <td>{{item.Order_Quantity}}</td>
                                   <!--  <td>{{item.NetWeight}}</td>
                                    <td>{{item.WeightUnit}}</td> -->
                                    <td *ngIf="inquiryDetails.Status != 1 && visibaleButton == true">
                                        <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="editInquiryItem(item,i)" placement="top" ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </button>
                                        <button style="font-size: 12px;" class="btn btn-danger"
                                            (click)="deleteQuoteItemDetails(item.Quoation_Items_ID)" placement="top" ngbTooltip="{{label.Delete}}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-record-found" *ngIf="roleArray?.length == 0">
                        {{label.No_Record_Found}}
                    </div>
                </div>

                <div id="section2" *ngIf="tabsArray.length > 0 && tabsArray[1].isActiveClass">
                    <div class="row add-inquiry-item-button">
                        <div  *ngIf="inquiryDetails.Status != 1 && visibaleButton == true && isAddEditPermission">
                            <button (click)="openModal('add-document-items-modal')" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <app-modal-form [modalData]="{'modalId' : 'add-document-items-modal', 'header' : label.AddDocument, 'close': label.Close,
                            size: 'modal-lg', save: 'OK'}" (callFunction)="addDcoumentDetails($event)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Line_Item}}</label>
                                    <ng-multiselect-dropdown name="LineItem" [placeholder]="label.Line_Item" [data]="invoiceItemDetails" [(ngModel)]="invoiceItemSelectedItem" [settings]="invocieItemSetting">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Doc_Ref_No}}</label>
                                    <input type="text" [(ngModel)]="documentDetails.DocRefNo" 
                                        class="form-control" placeholder="{{label.Doc_Ref_No}}">
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Document_Name}}</label>
                                    <input type="text" [(ngModel)]="documentDetails.DocumentName" 
                                        class="form-control" placeholder="{{label.Document_Name}}">
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.Doc_Type}}</label>
                                    <input type="text" [(ngModel)]="documentDetails.Doctype" 
                                        class="form-control" placeholder="{{label.Doc_Type}}">
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{label.UploadFile}}</label>
                                    <input type="file" (change)="selectFile($event)" />
                                </div>
                                 
                            </div>
                        </div>
                    </app-modal-form>
                    <div style="margin-top: 20px;">
                        <table id="asn_gr_details_docs_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{label.Line_Item}}</th>
                                    <th>{{label.Doc_Ref_No}}</th>
                                    <th>{{label.Document_Name}}</th>
                                    <th>{{label.Doc_Type}}</th>
                                    <th>{{label.Action}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of invoiceDocumentDetails; let i = index"
                                    [class.selected-row]="item.isChecked">
                                    <td>{{item.LineItem}}</td>
                                    <td>{{item.DocumentRefNo}}</td>
                                    <td>{{item.DocumentName}}</td>
                                    <td>{{item.DocumentType}}</td>
                                    <td *ngIf="inquiryDetails.Status != 1 && visibaleButton == true">
                                       <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="editDocumentItem(item,i)" placement="top" ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </button>&nbsp;
                                        <button class="btn btn-info fsize-12" (click)="documentDownload(item.AttachmentName)">
                                            <i class="fa fa-download cursor-pointer"></i>
                                        </button>
                                    </td>
                                    <td *ngIf="inquiryDetails.Status == 1 || visibaleButton == false">
                                        <button class="btn btn-info fsize-12" (click)="documentDownload(item.AttachmentName)">
                                            <i class="fa fa-download cursor-pointer"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-record-found" *ngIf="invoiceDocumentDetails?.length == 0">
                        {{label.No_Record_Found}}
                    </div>
                </div>

            </section>
        </div>
    </app-card>
</app-container>