<ngx-spinner bdOpacity=0.2 bdColor="rgba(20,20,21,0.71)" size="medium" color="#c21e2a" type="ball-clip-rotate"
    [fullScreen]="true"></ngx-spinner>
<app-header [userData]="userData"></app-header>
<div class="page-content">
    <button *ngIf="backPath" class="btn btn-info" style="float: right;margin-top: -50px;"
        (click)="goToBack()" placement="top" ngbTooltip="{{label.Back}}"><b><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></b>
    </button>
    <ng-content></ng-content>
</div>
<br><br><br>
<app-footer></app-footer>