.page-content{
    // border: 1px solid black;
    margin-top: 132px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    background: white;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5) !important;
}