<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.TAB.Orders}} / </span>
        <span>{{label.SUB_TAB.Open}}</span>
    </h4>
</div>
<app-container>
    <app-card
        [headerData]="{'backPath': '/dashboard', 'heading' : label.Back , addButtonToolTip: label.SUB_TAB.Open ,'addButtonRoute' : '/orders/open', 'headerVisible': isAddEditPermission}">
        <div class="row mt-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FromDate">{{ label.FromDate }}:</label>&nbsp;
                    <input name="FromDate" class="form-control" [(ngModel)]="orderFilter.FromDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ label.FromDate }}" >
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ToDate">{{ label.ToDate }}:</label>&nbsp;
                    <input name="ToDate" class="form-control" [(ngModel)]="orderFilter.ToDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{ label.ToDate }}">
                    <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NetValue">{{ label.Keyword }}:</label>&nbsp;
                    <input type="text" name="Keyword" id="Keyword" [(ngModel)]="orderFilter.Keyword" 
                        class="form-control" placeholder="{{ label.Keyword }}" #Keyword="ngModel">
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <button class="btn btn-success mtop-5" (click)="getOrdersHeaderData()">Search</button>&nbsp;
                <button (click)="getOrderExportData()" class="btn btn-info mtop-5">Export</button>
            </div>
        </div>
        <div style="margin-top: 20px;" *ngIf="openOrdersArray?.length > 0" class="table-responsive">
            <table id="open_orders_table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{label.TABLE.Document_Number}}</th>
                        <th>{{label.TABLE.Order_Type}}</th>
                        <th>{{label.TABLE.Sales_org}}</th>
                        <th>{{label.TABLE.Distribution_channel}}</th>
                        <th>{{label.TABLE.Division}}</th>
                        <th>{{label.TABLE.Created_by}}</th>
                        <th>{{label.TABLE.Created_on}}</th>
                        <th>{{label.TABLE.Document_Date}}</th>
                        <th>{{label.TABLE.Net_value}}</th>
                        <th>{{label.TABLE.Document_Currency}}</th>
                        <th>{{label.TABLE.Valid_from}}</th>
                        <th>{{label.TABLE.Valid_to}}</th>
                        <th>{{label.TABLE.Req_delivery_date}}</th>
                        <th>{{label.TABLE.Shipping_Condition}}</th>
                        <th>{{label.TABLE.PO_number}}</th>
                        <th>{{label.TABLE.PO_date}}</th>
                        <th>{{label.TABLE.Sold_to_party}}</th>
                        <th>{{label.TABLE.Partner_Function}}</th>
                        <th>{{label.TABLE.Ship_to_Party}}</th>
                        <th>{{label.Status}}</th>
                        <!-- <th>{{label.Action}}</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let open of openOrdersArray; let i = index" [class.selected-row]="open.isChecked">
                        <td>{{open.DocumentNumber}}</td>
                        <td>{{open.OrderType}}</td>
                        <td>{{open.SalesOrg}}</td>
                        <td>{{open.DistributionChannel}}</td>
                        <td>{{open.Division}}</td>
                        <td>{{open.CreatedBy }}</td>
                        <td>{{open.CreatedOn | date}}</td>
                        <td>{{open.DocumentDate | date}}</td>
                        <td>{{open.NetValue}}</td>
                        <td>{{open.DocCurrency}}</td>
                        <td>{{open.ValidFrom | date}}</td>
                        <td>{{open.ValidTo | date}}</td>
                        <td>{{open.ReqDeliveryDate | date}}</td>
                        <td>{{open.ShippingConditions}}</td>
                        <td>{{open.PONumber}}</td>
                        <td>{{open.PODate | date}}</td>
                        <td>{{open.SoldToParty}}</td>
                        <td>{{open.PartnerFunction}}</td>
                        <td>{{open.ShipToParty}}</td>
                        <td>{{open.StatusToDisplay}}</td>
                        <!-- <td>
                            <button style="font-size: 12px;" class="btn btn-primary" placement="top"
                                ngbTooltip="{{label.More_Details}}" (click)="viewInquiryDetails(inquiry);">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>&nbsp;
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="no-record-found" *ngIf="openOrdersArray?.length == 0">
            {{label.No_Record_Found}}
        </div>
    </app-card>
</app-container>