<footer class="footer" style="margin-top: 20px;">
    <div class="container">
        <span class="text-muted">© 2020 Copyright.</span> |
        <span class="text-muted">{{version}}</span>
    </div>
</footer>