
#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0CE !important;
    background-color: transparent;
    border-color: transparent transparent #0CE !important;
    border-bottom: 4px solid !important;
    font-size: 19px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: grey;
    font-size: 19px;
}
