<div class="menu-background">
    <h4>
        <span [routerLink]="['/dashboard']">{{label.TAB.Admin_Section}} / </span>
        <span>{{label.SUB_TAB.User_Managemnet}}</span>
    </h4>
</div>
<app-container>
    <app-card [headerData]="{'backPath': 'quize-section/quize-result', 'heading' : label.Back, 'headerVisible': 'true'}">
        <br />
        <section id="tabs">
            <div class="col-xs-12">
                <nav class="sub-nav">
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="cursor: pointer;">
                        <ng-container *ngFor="let tab of tabsArray">
                            <a class="nav-item nav-link" [ngClass]="tab.isActiveClass" (click)="onChangeTab(tab);">{{tab.name}}</a>
                        </ng-container>
                    </div>
                </nav>
            </div>
            <div id="section1" *ngIf="tabsArray[0].isActiveClass">
                <div style="margin-top: 20px;">
                    <div class="row">
                        <div style="float: right;right: 1rem;position: absolute;">
                            <button (click)="openModal('add-questionair-modal', null)" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <hr style="margin-top: 50px;">
                    <app-modal-form [modalData]="{'modalId' : 'add-questionair-modal', 'close': label.Close,
                    size: 'modal-lg', save: 'OK'}" (callFunction)="onClickOK($event, 'add-questionair-modal')">
                        <h6><b>{{label.QUIZE_TAB.Questionair_Details}}</b></h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ label.QUIZE_TAB.Questionair }}:</label>&nbsp;
                                    <input type="text" [(ngModel)]="questionairDetails.question"  class="form-control" placeholder="Input" required>
                                    <div *ngIf="questionFormSubmited && questionairDetails.question == ''" class="field-error">
                                            {{label.QUIZE_TAB.Questionair}}
                                            {{label.Is_Required}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-15">
                                <ng-multiselect-dropdown name="questionarQuestion" [placeholder]="label.QUIZE_TAB.Question" [data]="questionList" [(ngModel)]="questionarQuestionSelectedItem" [settings]="questionarQuestionSetting" #questionarQuestion="ngModel"></ng-multiselect-dropdown>
                                 <div *ngIf="questionFormSubmited && questionarQuestionSelectedItem.length == 0" class="field-error">
                                    {{label.QUIZE_TAB.Question}}
                                    {{label.Is_Required}}
                                </div>
                            </div>
                            <div class="col-md-12 mt-15">
                                <h6 *ngFor="let ques of questionarQuestionSelectedItem; let i = index">
                                    {{i+1}}) {{ques.Question}}
                                </h6>
                            </div>
                        </div>
                    </app-modal-form>
                    <table id="asn_gr_details_docs_table" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                               <th>{{label.QUIZE_TAB.Questionair_Id}}</th>
                                <th>{{label.QUIZE_TAB.Questionair}}</th>
                                <th>{{label.TABLE.Action}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of questionairList; let i = index">
                                <td>{{item.QuestionnaireHeaderID}}</td>
                                <td>{{item.QuestionnaireName}}</td>
                                <td>
                                    <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="openModal('add-questionair-modal', item)" placement="top"
                                            ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                    </button> &nbsp;
                                    <button style="font-size: 12px;" class="btn btn-danger" placement="top"
                                            ngbTooltip="{{label.Delete}}" (click)="onDeleteQuestionair(item);">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="questionairList.length == 0">
                                <td colspan="4" class="text-center">
                                    {{label.No_Record_Found}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="section2" *ngIf="tabsArray[1].isActiveClass">
                <div style="margin-top: 20px;">
                    <div class="row">
                        <div style="float: right;right: 1rem;position: absolute;">
                            <button (click)="openModal('add-question-modal', null)" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <hr style="margin-top: 50px;">
                    <app-modal-form [modalData]="{'modalId' : 'add-question-modal', 'header' : !questionDetails.Id ? label.Add_Role : label.Edit_Role, 'close': label.Close,
                    size: 'modal-lg', save: 'OK'}" (callFunction)="onClickOK($event, 'add-question-modal')">
                        <h6><b>{{label.QUIZE_TAB.Questionair_Details}}</b></h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ label.QUIZE_TAB.Question }}:</label>&nbsp;
                                    <input type="text" [(ngModel)]="questionDetails.question"  class="form-control" placeholder="Input" required>
                                    <div *ngIf="questionFormSubmited && questionDetails.question == ''" class="field-error">
                                            {{label.QUIZE_TAB.Question}}
                                            {{label.Is_Required}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ label.QUIZE_TAB.Question_Type }}:</label>&nbsp;
                                    <div class="row">
                                        <div class="col-md-3" *ngFor="let item of questionType">
                                            <input  [(ngModel)]="questionDetails.questionType" type="radio" name="questionType_{{item}}" value="{{item}}" required> {{item}}
                                        </div>
                                    </div>
                                    <div *ngIf="questionFormSubmited && questionDetails.questionType == ''" class="field-error">
                                            {{label.QUIZE_TAB.Question_Type}}
                                            {{label.Is_Required}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="questionDetails.questionType == 'radio' || questionDetails.questionType == 'checkbox'">
                                <label>{{ label.QUIZE_TAB.Question_Options }}:</label>
                                <button class="btn btn-info pull-right" (click)="addQuizeOptions()">
                                    <i class="fa fa-plus"></i>
                                </button>
                                
                                <div class="row mt-15" *ngFor="let item of questionOptions;">
                                    <div class="col-md-11">
                                        <input type="text" [(ngModel)]="questionDetailsOption[item]" class="form-control" placeholder="Input" required>
                                    </div>
                                    <div class="col-md-1">
                                         <button class="btn btn-danger" (click)="removeQuizeOptions(item)">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="questionFormSubmited && (questionDetailsOption[item] == '' || questionDetailsOption[item] == null)" class="field-error">
                                        {{label.QUIZE_TAB.Question_Options}}
                                        {{label.Is_Required}}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-12 mt-15">
                                <div class="form-group">
                                    <label class="form-check-label" for="isActive">{{ label.QUIZE_TAB.IS_Active }}</label>
                                </div>
                                <div class="form-check-inline">
                                    <input style="width: 15px; height: 15px;" type="checkbox" class="form-check-input" name="isActive" [(ngModel)]="questionDetails.isActive" id="isActive" [checked]="questionDetails.isActive">
                                </div>
                            </div>
                        </div>
                    </app-modal-form>
                    <table id="questionair_table" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                               <th>{{label.QUIZE_TAB.Question}}</th>
                                <th>{{label.QUIZE_TAB.Question_Type}}</th>
                                <th>{{label.QUIZE_TAB.Question_Options}}</th>
                                <th>{{label.QUIZE_TAB.IS_Active}}</th>
                                <th>{{label.TABLE.Action}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of questionList; let i = index">
                                <td>{{role.Question}}</td>
                                <td>{{role.QuestionType}}</td>
                                <td>{{role.QuestionOption}}</td>
                                 <td class="text-center">
                                        <input [disabled]="true" type="checkbox"
                                            [(ngModel)]='role.IsActive'>
                                    </td>
                                <td>
                                    <button style="font-size: 12px;" class="btn btn-success"
                                            (click)="openModal('add-question-modal', role)" placement="top"
                                            ngbTooltip="{{label.Edit}}">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                    </button> &nbsp;
                                    <button style="font-size: 12px;" class="btn btn-danger" placement="top"
                                            ngbTooltip="{{label.Delete}}" (click)="onDeleteQuize(role);">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="questionList.length == 0">
                                 {{label.No_Record_Found}}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </app-card>
</app-container>